[2016-06-27 07:30] cilim commented on #363
You forgot to put a slash in the prefix! :)

So just write:
`Rails.application.config.assets.prefix = '/myprefix'`

and everything should work fine.

[2016-06-27 13:37] connorshea commented on #351
I just ran into this as well. Looks like it's caused by SCSS added a BOM to the stylesheet. Here's the relevant Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1269241

[2016-06-27 15:13] #363 closed

[2016-06-27 15:15] robinwhittleton commented on #361
This is fixed by https://github.com/rails/sprockets-rails/pull/362 then.

[2016-06-27 15:16] #361 closed

[2016-06-27 15:16] rafaelfranca commented on #361
@robinwhittleton yeah, kinda. I was just looking the spec and indeed it is recommended to not seliver the integrity check in a non secure context. I'll change that patch to only allow localhost.

[2016-06-27 15:19] robinwhittleton commented on #361
I think `localhost` specifically is disallowed, only `127.0.0.1` is valid: https://w3c.github.io/webappsec-secure-contexts/#localhost

[2016-06-27 15:20] connorshea commented on #361
Per https://www.chromium.org/Home/chromium-security/deprecating-powerful-features-on-insecure-origins, Chrome treats localhost as secure, and it's my understanding that Firefox does the same.

[2016-06-27 16:19] rafaelfranca commented on #354
Seems that `ActionView::Helpers::AssetUrlHelper` is not defined in your application so it is trying to load the `legacy_asset_tag_helper` file. Make sure that constant is defined at that point.

[2016-06-27 16:22] rafaelfranca commented on #346
That only happens when `prepend` is not defined. See https://github.com/rails/sprockets-rails/commit/f3558797a230ded556939eecf82f7f6ae759608c. Is it still happen? Could you create an sample application reproducing the bug?

[2016-06-27 16:23] rafaelfranca commented on #344
Can you please provide a sample application that reproduces the error?

[2016-06-27 16:37] rafaelfranca commented on #363
I just tried the same thing and adding the slash in the prefix made it work correctly.

[2016-06-28 08:26] aried3r opened #364 "config.assets.quiet = true not working"
The way I understood the feature is that it would replace the quiet_assets gem, right?

If so, it doesn't seem to work for me, I see all assets requests in the log:

[code]

Ruby 2.3.1
Rails 4.2.6
sprockets-rails 3.1.0 (`gem 'sprockets-rails', '~> 3.1', require: 'sprockets/railtie'`)

[code]

[code]

[2016-06-28 14:09] rafaelfranca commented on #364
It is due to a bug in rails that is fixed in rails 4-2-stable branch. Thank you for the report.

[2016-06-28 14:09] #364 closed

[2016-06-28 14:10] rafaelfranca commented on #364
Ah, also make sure the config is in development.rb otherwise it will not be applied.

[2016-06-28 22:22] dreyks opened #365 "Sprockets dependency version"
Right now `sprockets-rails.gemspec` has `add_dependency "sprockets", ">= 3.0.0"`, which is not entirely true, because say `Sprockets::Environment#gzip=` is only available since `sprockets v3.5.0`
So for the project, whose `Gemfile` looks like this:
[code]
bundler will resolve  to `sprockets` to `3.4.1` and `sprockets-rails` to `3.1.0`, which are incompatible

[2016-06-29 03:23] #365 closed

[2016-06-29 08:08] aried3r commented on #364
Good point, thanks! Is that implied somewhere? I could not find it in the README or the code itself after a quick glimpse.

Shouldn't it "just work" within an initializer, though?

[2016-06-29 08:11] aried3r commented on #364
https://github.com/rails/rails/pull/25341 this one fixes it, right? Do you happen to know if there'll be a minor release soon?

[2016-06-29 15:54] rafaelfranca commented on #364
It is documented in the Rails source code. It generates in development.rb

It doesn't. `config/initializers` run after all railties initiliazers so when the initializer run the sprockets-rails railtie will already be executed.

Right. No I don't know when will be the minor release yet.

[2016-06-30 09:50] morgoth opened #366 "NoMethodError `silence` on Logger instance"
I'm using Rails 5 with rails-sprockets 3.1.1

I'm having `config.assets.quiet = true` in development env, but also custom logger set:
[code]

I'm getting errors, as `ActiveSupport::TaggedLogging.new(Logger.new(STDOUT))` doesn't respond to method `silence`

[2016-06-30 22:57] rafaelfranca commented on #366
Thank you for the report. The fix to this is to use a log that respond to `silence`.

[2016-06-30 22:57] #366 closed

[2016-06-30 22:59] rafaelfranca commented on #366
Just to be clear this feature is made to work with loggers that respond to `silence` we don't plan to make it work with loggers that are not the default Rails logger in development.

[2016-07-02 00:28] dwradcliffe opened #367 "Quiet option is not working"
We just upgraded to the latest (3.1.1) gem and enabled the new quiet option but it doesn't seem to be working.

[code]

https://github.com/rubygems/rubygems.org/commit/f32321d52c83f7c9979a60858e38d866b27ac41d

@rafaelfranca @kmcphillips

[2016-07-02 00:34] kmcphillips commented on #367
I can have a look tomorrow!

On Friday, 1 July 2016, David Radcliffe <notifications@github.com> wrote:

[2016-07-02 00:41] rafaelfranca commented on #367
You need Rails 4.2.7.rc1 to have it working

[2016-07-04 14:09] kmcphillips commented on #367
@dwradcliffe @levilansing

So. If you look in `development.log` you will find that the logging is indeed being stripped. But the replacement `quiet = true` option uses `ActiveSupport::Logger#silence` to suppress logging. There was unfortunately a bug in all versions of rails that caused `silence` to not work correctly when being changed via `broadcast`. The `broadcast` module is what is used to ou

[2016-07-05 10:43] lime commented on #240
Would the maintainers be open to a config option that would have the cache version affect the digest? Essentially an opt-in to use the old behaviour.

[code]

[2016-07-05 16:13] rafaelfranca commented on #240
@lime yes. It doesn't need to be opt-in, we are fine to restore the previous behavior.

[2016-07-06 07:34] lime commented on #240
Thanks for that clarification, @rafaelfranca!

[2016-07-12 05:24] fxtentacle commented on #237
My workaround suggestion is to make your own helper in ApplicationController, which will use application.assets or application.assets_manifest as needed. Because the manifest will be empty when using the debug asset pipeline, whereas the debug .assets hash will be nil on production. And remember to use File.binread to ensure images don't get broken.
[code]

[2016-07-12 05:25] rafaelfranca commented on #237
There is a method to that in sprocket-rails. `Rails.application.assets_manifest.find_sources`

[2016-07-12 06:23] fxtentacle commented on #237
Thanks @rafaelfrance. Rails.application.assets_manifest.find_sources('asset.js').first seems to return exactly what Rails.application.assets['asset.js'].to_s used to produce and it works both in dev and prod :)

[2016-07-12 06:31] rafaelfranca commented on #237
And doesn't compile the asset in production.

[2016-07-15 21:08] connorshea commented on #367
4.2.7 is out, should this be closed?

[2016-07-15 21:09] #367 closed

[2016-07-15 21:14] connorshea commented on #356
I believe this is expected behavior. If you want parity between dev/prod you'll want to change the `config/development.rb` to use `config.assets.digest = true` if I remember correctly.

[2016-07-15 21:22] rafaelfranca commented on #356
Actually this is a bug. The problem is that in development we are serving the assets when the extension is not set. You need to set the extension to get it working, and we should not serve the image in development if it is not specified.

[2016-07-16 02:55] zlx commented on #356
Yes, use image without extension is not a good practise. It's better if we can find the fault in development as soon as possible.

[2016-07-21 18:27] jasonfb opened #368 "JST only available pre-3.0.0 ?"
Was JST deprecated in 3.0.0? We are seeing some evidence in a Rails 4.1 -> 4.2 upgrade that JST templates are unavailable (JST is undefined in javascript), and were led to believe from this post: http://stackoverflow.com/questions/31975445/uncaught-referenceerror-jst-is-not-defined-on-rails-4  that locking Sprockets into 2.3.3 was the only current solution to this.

Please advise if JST is support

[2016-07-21 19:04] rafaelfranca commented on #368
No. JST is supported in sprockets 3+ https://github.com/rails/sprockets/tree/3.x#javascript-templating-with-ejs-and-eco

[2016-07-21 19:04] #368 closed

[2016-07-28 14:13] dreyks opened #369 "sprockets 4 manifest.js location"
Is there a plan to make  the location of `manifest.js` customizable?

I have an app that consists from engines exclusively, so there's no `app` folder at all. There's one non-isolated engine, which serves as an `app` folder, e.g. it holds the `application.html.erb` etc.

Right now every engine has its own `application.js` file, and the `application.html.erb` has `<%= stylesheet_link_tag engine_nam

[2016-07-28 14:25] rafaelfranca commented on #369
The manifest can be in any location that is part of the sprockets load path. `lib/assets/foo` is an example of this path. Is it not working to you?

[2016-07-28 14:34] dreyks commented on #369
It [raises](https://github.com/rails/sprockets-rails/blob/df5950017d7f2aa6fcbfa3949edfef85c35c28c7/lib/sprockets/railtie.rb#L105) `ManifestNeededError` if it's not there

[2016-07-28 14:40] rafaelfranca commented on #369
Oh, got it, yeah I think we should remove that check cc @schneems

[2016-07-28 16:21] schneems commented on #369
Thinking aloud

I don't see a benifit of making the location of the file customizable. While technically yes you can put that config in any file that will be auto loaded we need some way to know that the project is Sprockets 4 ready. I don't want to ease that requirement unless there's a good reason to do so. That's how I feel about Rails apps, but not engines.

I see a useful error message as, we

[2016-07-28 16:30] dreyks commented on #369
If the main reason for a useful message is to ease the transition, maybe there could be some sort of a silencer. Like "we couldn't finds manifest.js in the correct location, please put it there. If you know what you're doing, set disable_manifest_strict_check = true to suppress this check"

move this check to "after-fail" is even cooler since it doesn't require any additional steps

[2016-07-29 20:04] westonganger commented on #366
I had to change this:

`config.logger = Logger.new(config.paths['log'].first, 100, 104857600)`

to this to make it work.

`config.logger = ActiveSupport::Logger.new(config.paths['log'].first, 100, 104857600)`

@morgoth So maybe try to change `Logger` to `ActiveSupport::Logger` in your case

[2016-08-02 10:26] dnswus commented on #344
@cmalpeli did you include `ActionView::Helpers::AssetUrlHelper` somewhere in your code. I encountered the same error when I included that. Removing it solves my problem.

[2016-08-02 18:21] schneems commented on #369
The silencer in this case is the presence of the file ;)

Yeah, i like this approach. Still error but only when a precompile asset isn't found. The only downside is that it becomes a runtime error instead of a boot time error. i.e. people may not hit the problem in dev (if they never go to a specific page that doesn't have a specific asset). Still I think this would be the best approach.

[2016-08-04 07:59] topazas opened #370 "rails 5 config.assets.quiet does not work"
In development.rb is set config.assets.quiet = true
And all assets respond with:

sprockets-rails 3.1.1

[2016-08-04 08:09] kaspth commented on #370
`assets.quiet` requires a standard Rails logger, which is an instance of `ActiveSupport::Logger` 😁

It'll work if you change your logger to an instance of that. Thanks!

[2016-08-04 08:09] #370 closed

[2016-08-04 08:13] topazas commented on #370
Can You explain a little more? I haven't changed Logger to a different.

[2016-08-04 09:08] diaclavijo opened #371 "Assets precompilation is run when running tests"
You can visit [this project](https://github.com/diaclavijo/sprockets-rails-3-1-precompile-assets-when-running-tests)

It is an small application to show that `sprockets-rails 3.1` is precompiling the assets when
 the specs require them even having the configuration `assets.compile = true`.

This application raise an exception when the precompilation of the assets is executed. This is to
proof that

[2016-08-04 09:30] topazas commented on #370
Explicitly set in config

The same error.

[2016-08-04 12:24] kaspth commented on #370
I'm saying try `config.logger = ActiveSupport::Logger.new(STDOUT)` 😁

[2016-08-04 12:28] topazas commented on #370
[code]

Same error.

[2016-08-04 12:42] kaspth commented on #370
Changing to Active Support logger is the correct fix: https://github.com/rails/sprockets-rails/issues/366

I'm not sure what else to tell you, but I won't be doing remote tech support. Have a nice day!

[2016-08-04 20:58] jrochkind opened #372 "gem including a file named `application.js` in a subfolder messes up everything"
I _think_ this _may_ be a re-file of the previously closed issue #218, I'm refiling it which I hope this story will be prove justified.

I spent a couple hours hunting this down before discovering the closed #218. Still not sure _exactly_ what's going on, but, with Rails 5.0.0, sprockets 3.7.0, sprockets-rails 3.1.1:

1. the rails-assets bower-converted gem rails-assets-jquery-sortable happens to

[2016-08-04 21:06] scashin133 commented on #372
@jrochkind https://github.com/rails/sprockets-rails/blob/27c644140b0f14737c6dfb9f5e0cfba71599b21e/lib/sprockets/railtie.rb#L69 is what I was linking to originally. I believe now the offending line would be https://github.com/rails/sprockets-rails/blob/e135984ee2b07e1a67c3fa57f799f40b0830e99a/lib/sprockets/railtie.rb#L108 but am not totally sure.

[2016-08-05 13:18] vitaly-pushkar commented on #371
+1, have the same issue

[2016-08-08 07:19] topazas commented on #366
Well it was kinda my fault.
For information purposes, check other config files ;(
In my case Jekyll config was overwriting my config logger.

[2016-08-09 15:19] collimarco opened #373 "require jquery in multiple manifests"
This is my `application.js`:

[code]
It has always worked as expected and `subscription.js` is another file which is compiled separately.

If I add this line at the top of `subscriptions.js`:

[code]

The `subscriptions.js` is compiled as expected, but jQuery disappears from `application.js`.
This means that you cannot require jquery in multiple manifest files.

I am using a development environmen

[2016-08-09 20:14] cmalpeli commented on #344
@dnswus yup that was the issue!  @rafaelfranca if you want to replicate the issue you can do something like include `ActionView::Helpers::AssetUrlHelper` in a Rake task and then try and precompile.....

[2016-08-11 00:05] rafaelfranca commented on #373
This is the expected behavior of `stub`. All dependencies inside the file that is stubbed will not be added. If all you want is to not include subscriptions inside application.js it is recommended to not use `require_tree`.

https://github.com/rails/sprockets#the-stub-directive

[2016-08-11 00:05] #373 closed

[2016-08-17 15:14] Jared-Prime commented on #371
I may be seeing something related to this issue. I have tests failing during asset compilation following an upgrade of Rails 4.1.16 to Rails 4.2.7.1, which brings with it an upgrade of sprockets-rails from 2.3.3 to 3.1.1

[2016-08-18 09:11] dfritsch86 opened #374 "sprockets-rails 3.1.1 precompiles all assets in development"
I have a rails application with huge amounts of assets due to some frontend frameworks. In `config/initializers/assets.rb` I use wildcard selectors to precompile all assets for production.

When starting the rails sever for development, the first request takes forever, presumably because all assets are being precompiled. This seems to happen only with the newer versions of sprockets-rails (3.1).

[2016-08-19 01:50] rafaelfranca commented on #374
Duplicated of https://github.com/rails/sprockets-rails/issues/352

[2016-08-19 01:50] #374 closed

[2016-08-19 01:51] rafaelfranca commented on #371
Duplicated of https://github.com/rails/sprockets-rails/issues/352

[2016-08-19 01:51] #371 closed

[2016-08-19 07:46] diaclavijo commented on #371
Thank you very much @rafaelfranca

[2016-08-27 01:38] rossta opened #376 "NoMethodError: undefined method 'silence' for #<Logger:...>"
Thanks for all the hard work on `sprockets-rails`! 💜💜💜

Here's my issue:
### Environment
- sprockets-rails 3.1.1
- rails 5.0.0.1
- ruby 2.3
### Actual behavior

In development, when using a `Rails.logger` that does not respond to `#silence`, all requests for assets fail, throwing `NoMethodError: undefined method`silence' for ...`. (See below for stacktrace).
### Expected behavior

It looks like [t

[2016-08-27 12:53] edenvicary commented on #298
@amw or you could:

[code]

[2016-08-27 15:01] amw commented on #298
@edenvicary Your method doesn't work in development environment where there is no asset manifest.

[2016-09-02 20:05] btrscott opened #378 "3.6 to 3.7 causes Encoding Error"
Updating from 3.6.0. to 3.7.0 caused my app to crash on an Encoding Error.  The Gemfile.lock attached is working because I reset sprockets back to 3.6.0.  If you update it to 3.7.0 you get the error.  Error is on all pages.  This is a simple static home page that is failing in this example.

I can't tell where in all the gems and bower files the encoding is breaking (if its in them at all) so I at

[2016-09-02 20:42] btrscott commented on #378
After much adding and subtracting it seems like via bower bootstrap-formhelpers#2.3.0 was installing as a dependency bootstrap 3.0.0. Removing bootstrap from the directory stopped the problem. Didn't seem to matter that that particular version of bootstrap was not being used in the stylesheets directly; having in the bower directory was enough to kill the app.

I can see in some ways this is not s

[2016-09-05 02:17] mipearson commented on #352
I would recommend adding something to the Rails upgrade guide regarding this - given the number of apps with significant asset compile times in the wild this could surprise a lot of people.

In our case, it caused significant test speed regressions in our parallel tests, as sixteen threads all tried to compile 50s worth of assets at the same time.

[2016-09-10 19:02] ayb commented on #240
+1

Would love to see this resolved at some point.

[2016-09-11 02:51] btsai commented on #240
@rafaelfranca you say "we are fine to restore the previous behavior.", but is this in the pipeline?

thank you!

[2016-09-12 12:50] matthewd commented on #240
@btsai no, I don't believe anyone has made a PR implementing the agreed change.

[2016-09-17 13:33] hoanghuynh commented on #237
Thanks @rafaelfranca @fxtentacle that works for me!

[2016-09-22 00:03] jasdeepsingh commented on #240
got badly bitten by this issue this evening and wasted a few hours like others already have. Wondering if a fix could be shipped soon?

@kilgore5 also had a look at your PR here: https://github.com/sellect/sprockets/pull/1 looks like you intended to open this PR in https://github.com/rails/sprockets ?

[2016-09-26 07:19] NekoNova opened #379 "3.2.0 doesn't work in RSpec"
Hello,

I'm currently trying to upgrade our `sprockets-rails` from 3.1 to 3.2.0, and this works for the application itself, namely I can run the application and everything works, but our specs seem to be failing due missing assets.

This is the configuration we have set in our `application.rb`:

[code]

Our `test.rb` environment settings:

[code]

And this is the error being thrown out by RSpec:

[2016-09-26 07:55] NekoNova commented on #379
fixed it.
Problem was that our compile was disabled in test for legacy reasons....
Workign like a charm now

[2016-09-26 08:21] NekoNova commented on #379
Sorry,

need to re-open this.
By setting the `compile = true` I can get our specs working, for anythign related to `.js/css` file, but now they fail because none of the images are found inside the pipeline.

Am I required in this version to manually add every image we use to our `config/initializers/assets.rb` ?
Or are we supposed to place them back in the `public` folder?

[2016-09-26 08:24] NekoNova commented on #379
error produced for example:

[code]

Aren't all images supposed to be by default in the assets pipeline?

[2016-09-26 11:38] NekoNova commented on #379
Additional Information:

Currently, I've succeeded in making our application work, as well as the RSpec tests, but I have no idea what is actually going wrong.
The first thing I did was adding this snippet to our `config/initializers/assets.rb`:

[code]

The second step is using this configuration for our `config/environments/test.rb`:
[code]

[2016-09-27 10:48] NekoNova commented on #379
browsing through the open issues, might be the same problem as #303

[2016-10-02 02:13] devvmh commented on #370
I also have this issue. It doesn't appear to be the same problem as #366 because I'm not getting the same error message. That poster said

but I haven't experienced that.

I have added a line to my initializers, and running `rails c` I get this output:

[code]

However, I still can't get my assets to be quiet.

Any thoughts?

[2016-10-11 12:45] #266 closed

[2016-10-13 17:56] bricesanchez commented on #348
Friendly ping :)

[2016-10-13 17:59] bsodmike commented on #348
I'd also recommend anyone taking a look to use this branch https://github.com/bsodmike/refinery-rails-5-sprockets-issue-3178/tree/todo/check_wymeditor_breakage as this has the Demo app upgraded to Rails 5.0.0.1 &mdash; incidentally we are also now seeing wymEditor asset issues potentially as a result (as discussed here https://github.com/refinery/refinerycms/issues/3178)

[2016-10-27 18:57] maschwenk opened #382 "DISABLE_DATABASE_ENVIRONMENT_CHECK=1 not being respected"
In my test environment I like to precompile my assets as they will be in production to speed up the test environment and have test/prod environment have more parity.

Right now it seems the `DISABLE_DATABASE_ENVIRONMENT_CHECK=1` flag is not being respected. It works with other rails rake tasks (`rake db:drop db:reset`, etc.)

For example:
`RAILS_ENV=production DISABLE_DATABASE_ENVIRONMENT_CHECK=1

[2016-10-27 23:04] matthewkrom commented on #240
+1 If we use a Procfile for config.assets.host, and we need to change all the asset hashed filenames quickly, config.assets.version is the way to go.  Are you looking for someone to make the pull request, or do you have folks to do it?

[2016-10-28 12:44] kilgore5 commented on #240
@jasdeepsingh based on conversation above I wasn't sure if the behavior was desired, so I decided to fork for the time being (which turned into a monkey-patch instead), rather than PR to rails/sprockets.

I'm glad to see the behavior being restored in https://github.com/rails/sprockets/pull/404 mentioned above.

[2016-10-30 12:24] fphilipe commented on #240
I guess this issue can be closed with the merge of rails/sprockets#404. /cc @rafaelfranca

[2016-10-30 15:26] #240 closed

[2016-10-30 15:26] rafaelfranca commented on #240
Thanks!

[2016-11-01 22:38] richpeck commented on #369
Did this ever get resolved? I have a Rails engine for which I am unable to declare the `manifest.js` file and need to know where to place it

[2016-11-10 16:01] hendricius commented on #279
Do you guys still have this issue? Downgrading sprockets did not work for me.

[2016-11-10 16:27] hendricius commented on #279
Ok - in my case It was me having a scss file that still used `asset-url`. Replacing it with the new `image-url` syntax made things work again.

[2016-11-11 05:17] philss commented on #369
I had the same issue here. I was trying to use Sprockets 4 in a Rails engine without success.

After some experiments, I could make it work by creating an empty `manifest.js` file in the host app, which in my case was the dummy app.

Also I had to create the engine's manifest and include this manifest path as an additional precompile file in the engine config file.

The [manifest file](https://git

[2016-11-21 12:37] richpeck commented on #369
I actually fixed this pretty well. It works on Sprockets `3x` and `4x`. Here is the link to the Engine:
https://github.com/richpeck/exception_handler/blob/master/lib/exception_handler/engine.rb#L19

The answer was to add the `css` and `js` files to the `precompile` array (which you're meant to not need with `manifest.js`). The trick for me was to add `link_tree` to the `css` / `js` files directly:

[2016-11-21 20:32] nickrivadeneira commented on #280
Since the code has changed since rafaelfranca posted that link and the line numbers are now off, here's the code from [that point in time](https://github.com/rails/sprockets-rails/blob/a955c164d7e55bc133d118acba69db1ae5a4e357/lib/sprockets/rails/helper.rb#L175-L176), and here it is at the [time of this writing](https://github.com/rails/sprockets-rails/blob/6fa795ae1d7e1ad1b175ba8e8bb2093f3d868412/

[2016-11-28 19:15] codebycliff opened #385 "Access Rails.application.assets when compile=false"
We are in the process of upgrading from rails 4.2 to 5. When upgrading sprockets-rails, we ran into an issue relating to the [Disable Rails.application.assets when compile=false](https://github.com/rails/sprockets-rails/pull/220/files) PR.

We want `Rails.application.assets.compile = false` so that assets are not compiled on each request; however, we have a feature that depends on the sprockets en

[2016-11-28 19:17] rafaelfranca commented on #385
No, there is not. If we add access to the environment when compile is false missing files at production will compiled on each request.

[2016-11-28 19:17] #385 closed

[2016-11-28 19:44] codebycliff commented on #385
To clarify, that is not the case in sprockets-rails < 3 correct? Currently on version 2.3.3, we have `compile` set to false and we have access to the sprockets environment and it doesn't appear to compile missing files on each request.

[2016-11-28 19:45] rafaelfranca commented on #385
No, that is not the case. If you have access to the environment in production and you have a call like `Rails.application.assets.find_asset` you care compiling in production.

[2016-11-28 20:01] codebycliff commented on #385
Well, yes, if I call it explicitly for a given request. That's not the scenario I am talking about. We have a background job called `ThemeCompiler` that uses the sprockets environment to precompile the assets (with some custom variables) and save the generated stylesheet in s3, which the rest of the app then consumes. A background job calling `find_asset` shouldn't mean that asset compilation is h

[2016-11-28 20:03] rafaelfranca commented on #385
Yeah, in that case you should not bother to disable compile at all. If you call `rake assets:precompile` before deploying and you have the static assets generated sprockets is not going to compile them in every request. In the end `compile` option is only to control if you are going to have a sprockets environment in production or not.

[2016-11-28 20:17] codebycliff commented on #385
That is good to know! I read a [stackoverflow post](http://stackoverflow.com/questions/8821864/config-assets-compile-true-in-rails-production-why-not) that said even if all assets are precompiled, there is still a negative performance impact due to the _lookup_ (not necessarily compilation) that sprockets has to make for each asset request.

That post is pretty old (4 years), but I'm wondering if

[2016-11-28 20:21] rafaelfranca commented on #385
The answer needs to be updated. If you have the assets precompiled the ruby proccess is not even reached when the request for the asset is made.

[2016-12-05 18:55] #382 closed

[2016-12-14 00:21] bparanj commented on #159
@sergey-alekseev : Your suggestion worked. 👍 . Thanks.

[2016-12-14 00:42] bparanj commented on #279
I am suffering from the same problem for upgrade from Rails 3.2 to Rails 4.2. Ruby : 2.3.1. The following gems:

[code]

does not resolve the problem.

[2016-12-23 19:56] tomca32 commented on #352
While I like this behavior, it should definitely be mentioned in the upgrade guide.

[2016-12-31 02:17] nallwhy opened #386 "assets.quite = true doesn't works"
heroku
rails 4.2.7.1
sprockets-rails 3.2.0

I added `config.assets.quiet = true` to `production.rb`.

And I checked middlewares by `rake middleware` and below is the result.
[code]

I can still see the logs like below.
[code]

What did I do wrong?

[2016-12-31 03:50] rafaelfranca commented on #386
It is a bug in rails 4.2.7. It will be fixed in 4.2.8

[2016-12-31 03:50] #386 closed

[2016-12-31 04:57] nallwhy commented on #386
@rafaelfranca Thanks. When it will be released?

[2017-01-04 11:37] tisba commented on #346
Maybe I'm misreading the commit, but it doesn't look like `alias_method_chain` is called conditionally.

[2017-01-15 23:52] allenmackley commented on #237
@fxtentacle your solution worked great for me, thanks.

I had to modify it slightly by putting `html_safe` to this line:
`return asse.to_s.html_safe if asse`

And then in production.rb
[code]

[2017-01-16 06:25] baburdick commented on #156
@josh: (pardon the necro-posting) FYI: It is possible to have an asset used in development and staging that would be a security risk in production (e.g. a dev toolbar that implements quick manual testing workflows). I'm looking for a solution to exactly that puzzle now.

[2017-01-18 06:51] nasa42 commented on #237
If you are looking for an exact replacement for `asset = Rails.application.assets.find_asset(name)`, (i.e., a method that returns a `Sprockets::Asset` object, so that you can have access to methods like `content_type`), use `asset = Rails.application.assets_manifest.find(name).first`.

[2017-01-19 18:06] schneems commented on #156
@josh doesn't monitor this repo anymore.

One possibility is in Sprockets 4 (master) there is the ability to use env vars in a `.erb` file. If the ENV var changes then it will cause a re-compile, you could do something like this

[code]

You would still generate the file in production, but it would be empty.

That's one way, there might be others.

[2017-01-23 17:26] nambrot opened #387 "Question: Why is Rails.env part a resolving dependency?"
I'm currently trying to figure out why Rails.env needs to be a resolving dependency for sprockets fingerprints? As far as I can see (and imo according to the docs), fingerprinting based upon the file contents should be sufficient? What i'm trying to get to is to run `assets:precompile` independent of the environment im running it in

[2017-01-23 21:28] jeremy commented on #387
That captures possibly-different config in each env.

If we capture e.g. coffeescript/uglifier/etc config as fingerprint deps, then perhaps we could remove the Rails.env dep.

[2017-01-23 23:01] nambrot commented on #387
Got it. So the file-content based fingerprint is not based upon the final compiled file, but the original file? It would be nice if there is an escape hatch somewhere. In our case, we use docker to build our apps, but since fingerprinting is dependent on the rails environment, we end up needing one dockerfile per environment. I can't even find an easy to to monkeypatch this either

[2017-01-23 23:16] jeremy commented on #387
Yes, fingerprints are based on inputs, not outputs. That makes incremental compilation and intermediate caching possible. Otherwise we'd need to compile * in all cases.

[2017-01-24 05:16] jeremy commented on #387
My bad: the assets' digest paths (foo-<digest>.js) are based on a digest of the content of the asset itself. Thanks @rafaelfranca :)

The Rails.env (and Sprockets version and asset paths and …) are incorporated as dependencies for asset compilation and caching.

Theoretically, this means that if you have identical asset compilation config, you should get identical asset contents and, hence, identi

[2017-01-24 15:04] nambrot commented on #387
Thanks for the clarification @jeremy . So are you saying that `digest of the content of the asset itself` still refers to the original file, correct?

We have just the vanilla asset pipeline config, but we definitely get different digest paths per environment. When I out-comment the dependency on the Rails.env then I do receive identical digest paths. What am I missing here?

[2017-01-24 15:29] rafaelfranca commented on #387
It is digest of the content of the generated file. If you are using vanilla asset pipeline config in development assets are not minified but in production they are so the content of the generated files differ between those environments. Make sure all configs are the same that the digests will be the same.

[2017-01-31 06:22] logicminds commented on #376
I was also getting this error after I endabled logging to STDOUT in my development environment. Once I removed this setting, everything worked as expected: ` config.logger = Logger.new(STDOUT)`

[2017-01-31 14:52] dmitrytrager opened #389 "Sprockets::FileNotFound: couldn't find file 'action_cable' with type 'application/javascript'"
When trying to work with ActionCable, I get following:
[code]

I tried to add `actioncable` gem into Gemfile.
I tried to downgrade sprockets and sprockets-rails versions.
I tried to master branch version.
But no luck. Still the same error.

Here is my Gemfile:
[code]

Please, help.

[2017-02-02 08:56] viveks1422 commented on #370
config.logger = Logger.new(STDOUT)
config.log_level = :debug

[2017-02-14 05:35] christophertfoo opened #390 "Cannot override default app.config.assets.precompile filters"
The default precompile filters are appended after the application is loaded so the filters added here (https://github.com/rails/sprockets-rails/blob/e135984ee2b07e1a67c3fa57f799f40b0830e99a/lib/sprockets/railtie.rb#L108) will always be applied regardless of what is specified in the configuration of the Rails application.  Ex. Given the following assets:
* app/assets/javascripts
  * dashboard.js

[2017-02-16 11:43] icecold21 commented on #269
This issue has been fixed in this commit, but it's still in branch master.

https://github.com/FortAwesome/font-awesome-sass/commit/b8dd32cf3bcd5d14c12543d767f8db68b31a6a9b.

[2017-02-16 11:45] ferydjzz commented on #269
+1 for @icecold21

[2017-02-16 14:40] ypresto opened #391 "Rake task for completely clear assets cache"
Clearing tmp/cache/assets is necesasry to regenerate assets correctly, but `rails assets:clean` or `rails assets:clobber` does not clear tmp/cache/assets.
I spent hours to solve cache issue after changing config.assets.prefix...

While it can be done with `tmp:cache:clear`, I think it'd better to have own task to clear that dir to avoid confusion.

Possible solutions:

- Add `assets:clear-cache` t

[2017-02-20 18:43] #389 closed

[2017-02-23 07:21] axsuul opened #392 "Support for source maps"
Sorry if I'm a bit misinformed but I do see that there's evidence of Sprockets 4 supporting source maps. I'm on Rails 5 but don't see any documentation on it--how can I use source maps with Rails 5?

[2017-02-23 11:51] renchap opened #393 "SRI not working with Sprockets 4"
When using SRI (`javascript_include_tag '...', integrity: true`) with Sprockets 4, the integrity attribute in the `<script>` tag is wrong.

I made a small Rails app to reproduce the issue :

[code]

There is a `sleep` in the test (https://github.com/renchap/rails-test-app/blob/system-tests-assets-integrity/test/system/home_test.rb#L9) so you can check the Selenium Chrome window's inspector, and se

[2017-02-23 11:51] renchap commented on #393
@eileencodes I dont know if you want to have a look at this one too, I think it is not related to Rails System Testing but to Sprockets.

[2017-02-23 21:13] rafaelfranca commented on #392
You have to use the master version of sprockets and it should be plug and play

[2017-02-23 21:13] #392 closed

[2017-02-27 02:45] anomaly256 commented on #389
Hi @dmitrytrager, how did you resolve it?  I'm hitting the same problem now

[2017-02-27 07:59] dmitrytrager commented on #389
@anomaly256 Thing is actioncable "[is not a real Rails 5 dependency](https://gist.github.com/nateberkopec/1184c81a92c10d84d779)". Projects are often created without it. If it's your case, you may need to add `require 'action_cable/engine'` in application.rb file. Hope that helps!

[2017-03-01 22:22] marcosserpa commented on #279
From the time you commented, probably you resolved. But, to future guys, I think this can be your problem. This resolved to me, when upgrading my app from 3.2 to 4.2 too:

http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#sass-rails

`asset-url with two arguments is deprecated. For example: asset-url("rails.png", image) becomes asset-url("rails.png").`

[2017-03-18 17:15] jscho13 commented on #376
For those who are still experiencing this problem when trying to run your rails app locally the fix is to add the following to your `development.rb` file.
[code]
You'll notice you have a similar configuration in your `production.rb` file.

[2017-03-24 23:55] mandysimon88 commented on #376
@jscho13 Is that the same solution for production and test environments as well or just development?

[2017-03-25 04:07] jscho13 commented on #376
It worked for my production environment as well. I have never tried in a test environment, but I can think of no reason why it wouldn't work.

[2017-03-30 23:09] nzifnab commented on #237
@nasa42 `Rails.application.assets_manifest.find(name).first` gives the error:

"Sprockets::Error: manifest requires environment for compilation" which makes it sound like it's trying to recompile...

[2017-03-31 14:16] nasa42 commented on #237
@nzifnab Sorry, we are no longer using that line in our app, so I don't have any more information about it.

[2017-04-11 18:25] adamzerner opened #397 "How does config.assets.resolve_with work?"
1. What does :environment do/mean, exactly?
2. Is there anything other than :manifest and :environment?
3. Can you give an example?

http://stackoverflow.com/questions/43315652/how-does-config-assets-resolve-with-work-in-rails

[2017-04-11 18:40] rafaelfranca commented on #397
Does not the documention in the README explain it?

[2017-04-11 18:44] rafaelfranca commented on #397
Sorry, just saw the question on stackoverflow.

1) `:environment` means the Sprockets Environment. If only environment is set sprockets rails will try to find the asset in the Sprockets Environment.
2) No, only those two options.
3) Which kind of example do you want. The three possible examples are already in the documentation.

[2017-04-11 22:52] adamzerner commented on #397
I'm having trouble understanding what is meant by the Sprockets Environment. My understanding of `:manifest` is:
1. Rails looks in the `config.assets.precompile` array for manifest files.
2. Rails uses the directives in the manifest files to preprocess other files (looking them up using the paths in `config.assets.paths` and concatenate them into the manifest file.
3. Rails then writes the output

[2017-04-11 23:17] rafaelfranca commented on #397
Manifest is not the manifest file in this context.

Sprockets Manifest is a object responsible to hold reference to the compiled files and their digests.

The Sprockets environment is the main object of Sprockets. It is responsible to compile the assets.

When `:manifest` is the only value in `resolve_with` means that if you file is not already compiled it can't be found (this is the behavior in p

[2017-04-12 00:19] adamzerner commented on #397
Ahh, thank you for that explanation, I understand now.

IMO, it'd be a good idea to add this explanation to the docs. Requiring technical understanding of the terms `:manifest` and `:environment` seems like a leak in the abstraction. On the other hand, your explanation of "first it looks for precompiled assets, then it tries to compile it on the fly" makes perfect sense and doesn't require the use

[2017-04-12 00:19] #397 closed

[2017-04-12 00:37] adamzerner commented on #397
Also, when I created a Rails app, `config.assets.debug = true`. Does that mean `%i[ environment ]` is the default rather than `%i[ manifest environment ]`?

[2017-04-12 00:42] adamzerner opened #398 "Documentation outdated: config.assets.resolve_with = %i[ environment ] is the new default"
The docs say:

[code]

However, it seems that `config.assets.resolve_with = %i[ environment ]` is the new default. After starting a new Rails app:

[code]

And:

[code]

[2017-04-12 01:41] rafaelfranca commented on #397
Yeah. It totally make sense to improve the documentation. I'll do it. Thank you for reporting.

[2017-04-22 09:49] ankitrg opened #400 "Assets compile failing"
Is this because I upgraded sprockets?

[code]

Here is my log! Can someone tell me is this happening because I just upgrade my gems.

[2017-04-22 10:09] ankitrg commented on #400
Sorry for the issue! I think the error message should be more informative.

[2017-04-22 10:09] #400 closed

[2017-04-22 11:21] shageman commented on #369
Just leaving this here for the future: Forcing the existence of this file in `app/assets/config` is the _first_ change since engines got introduced that makes it required for a Rails app to have an `app` folder at all. While that might be an unusual step, it is possible: I have been in the habit of putting all app code into engines from the start for a long time.

[2017-04-22 16:06] dreyks commented on #369
yes! my usecase exactly. i do not have the app folder too

[2017-05-04 05:59] grosser commented on #237
FYI I needed to find files that are not part of the manifest ... so switching to looking through gem dirs instead:

[code]

[2017-05-06 05:35] junaruga opened #401 "test_railtie.rb tests failed because of env.paths with additonal actionview javascripts"
Current master branch's tests are failed on some cases of Ruby 1.9.3, 2.0.0, 2.2.4, 2.3.0.

Refer below page.
https://travis-ci.org/rails/sprockets-rails/branches

Seeing latest build on master.
https://travis-ci.org/rails/sprockets-rails/builds/227885857

* Ruby 1.9.3, 2.0.0: `nokogiri` installing error. This error will be fixed after this PR: https://github.com/rails/sprockets-rails/pull/399 .
*

[2017-05-07 17:47] anhkt commented on #321
I want to ask: How to add many image in Rails.application.config.assets.precompile += %w( ... )?
I did that: Rails.application.config.assets.precompile += %w( a1.jpg, a2.jpg, a3.jpg ) but it not work. Thanks so much!!!

[2017-05-08 16:36] schneems commented on #321
@anhkt this is a better question for Stack Overflow

[2017-05-08 17:06] anhkt commented on #321
@schneems Thanks!! But It was not solve. :(

[2017-05-11 16:05] nachootal opened #402 "Emblem-rails assets are not properly precompiled"
I had this system running that I upgraded from rails 4.1.8 to 4.2.8. As soon as I did that, the recompilation of the assets is failing. Nothing else changed in the assets side so I understand there's some assets that are not properly identified as to be precompiled

I'm attaching the error as it is output in [https://hastebin.com/fihawonebu.vbs](here) and I set up a rails app that reproduces the e

[2017-05-11 23:31] rafaelfranca commented on #402
This is an issue in emblem-rails. Could you open an issue there?

[2017-05-11 23:31] #402 closed

[2017-05-25 19:37] cainlevy opened #403 "Manifest and Environment resolver inconsistencies"
The Environment resolver uses a forgiving search pattern that does not require assets such as images to specify their extension. The Manifest resolver does not. This means that given a `app/assets/images/foo.png`, syntax like `image_tag('foo')` will resolve fine locally and fail spectacularly when deployed to production.

Is this intended? It seems very error-prone.

[2017-05-29 16:07] junaruga commented on #401
It will be fixed by https://github.com/rails/sprockets-rails/pull/394

[2017-06-01 17:37] guaguasi opened #405 "image_path throwing Encoding::InvalidByteSequenceError due to bad javascript asset"
**TL;DR**: A javascript file had invalid encoding and was causing image_path("image.png") to throw an Encoding::InvalidByteSequenceError. That shouldn't be the case, right?

I spent all day yesterday trying to debug why an image would be throwing this error. I tried various things to no avail, but today, I figured it out. At some point yesterday, I found [a gist](https://gist.github.com/shedd/1036

[2017-06-14 08:27] vfonic opened #406 "Using `asset_url` within an initializer with digest"
Hi,

I'm trying to use an `asset_url` within an initializer.

Here are some of the options I've tried:

[code]

[code]

[code]

None of these methods work. Both `ActionController::Base.helpers.asset_url('application.js')` and `ENV.fetch('ASSET_HOST') + '/assets/' + Rails.application.assets['application.js'].digest_path` work in production in rails console, but in initalizer, they either incorrectl

[2017-06-14 09:55] vfonic commented on #406
I've managed to make it working by moving the configuration code to `after_initialize` block in `config/application.rb`:

[code]

Is this the proper way to do it?

[2017-06-15 08:32] mrsimo opened #407 "Rails.application.assets is nil in production even during precompilation"
First of all, I'm aware of https://github.com/rails/sprockets-rails/issues/237 and I think I understand the reasoning. I wanted to explain our use case and see if it makes sense.

We have a situation where we want to embed a `platform.css` inside a `platform.js`. For this, in Rails 4 we used `<%= Rails.application.assets['platform.css'].to_s %>`. We can't switch to `Rails.application.assets_manife

[2017-06-15 08:34] mrsimo commented on #237
We needed to access a compiled file within another file during precompilation, so `Rails.application.assets_manifest` didn't work the first time you run `assets:precompile`.

We solved this by doing this:

[code]

In case anyone is in the same situation that we are.

[2017-06-15 16:30] rafaelfranca commented on #407
Does changing your code to `<%= depend_on_asset('platform.css').source %>` works?

[2017-06-15 17:19] mrsimo commented on #407
Oh, my. Had no idea `depend_on_asset` existed. It seems to work! Apologies for the noise and thanks for the solution!

[2017-06-15 17:19] #407 closed

[2017-06-15 17:25] rafaelfranca commented on #407
No problem 😄. You can see all methods on that context here http://www.rubydoc.info/gems/sprockets/Sprockets/Context

[2017-06-16 06:16] henrik commented on #352
We were bitten by this as well. I agree – a mention in the upgrade guide, or possibly outputting that it happens in the server output (e.g. "Checked precompiled assets (took 1234 seconds)") so it's easier to determine what's going on.

@rafaelfranca, would you be open to a PR with one or both of the above?

[2017-06-16 16:37] rafaelfranca commented on #352
It doesn't fit the upgrade guide since you can upgrade rails without upgrading sprockets. This is a configuration in sprockets-rails and it is documented in sprockets-rails and it is in the CHANGELOG of sprockets-rails.

Maybe we could improve the sprockets-rails documentation, or maybe explain it in the assets pipeline guide?

[2017-06-20 21:24] henrik commented on #352
I see your point. I'm not sure we would have found it in any of those places, but that's not to say it wouldn't help someone else.

How would you feel about something like "Checked precompiled assets (took 1234 seconds)" in the server output. But perhaps only showing it if takes longer than say 10 seconds, to keep down on noise for everyone else? I think that would have helped us catch it sooner.

[2017-08-02 13:42] mckomo opened #408 "rake assets:precompile generates different manifests on each host during deploy"
### Expected behavior

I am deploying an application using Capistrano to an environment that consists of multiple hosts. Running `rake assets:precompile` produces `sprockets` manifests with same fingerprint.

### Actual behavior

I am deploying an application using Capistrano to an environment that consists of multiple hosts. Running `rake assets:precompile` produces `sprockets` manifests with dif

[2017-08-25 20:09] wjordan commented on #391
If I understand correctly, this issue might be resolved by rails/sprockets#257, which changes the `assets:clobber` task to also clear the Sprockets cache store (`tmp/cache/assets`) in addition to all precompiled assets.

Could you try this task using `master` version of `sprockets` (no release has been published yet since this PR has been merged) and see if it fixes your issue?

[2017-08-31 19:53] #401 closed

[2017-09-19 02:06] reedloden commented on #359
We're seeing something similar, and I suspect it's related...

[code]

The `vendor.css` gets the `integrity` attribute added fine, but the `frontend.css` one does not include the attribute at all. `frontend_stylesheet_path()` just returns the path to the file based on our asset manifest (that comes from webpack).

[2017-10-12 18:02] overallduka opened #410 "Option config.assets.compile = false not working"
This option is in README and is totally useless in Rails 5+ ..also the admin of project close this topic without solve:

https://github.com/rails/sprockets-rails/issues/49

This is relevant today yet. Is a needed for many people.

[2017-10-12 19:43] rafaelfranca commented on #410
I think you misunderstood, `compile = false` is to disable assets compilation and it does work right now. #49 is about adding digests to the file name and we don't have a way to do it anymore. There are a lot of ways to do that already in the conversation in the issue you linked.

Also, we closed that issue for a reason, please don't open new issues about the same thing.

[2017-10-12 19:43] #410 closed

[2017-11-03 02:37] sunnyrjuneja opened #411 "Yarn, asset-pipeline and .css.map"
Hi there,

I'm a very happy user of the aforementioned technologies and very grateful for the contributors. I've noticed a small issue that I was hoping to report when using Rails 5.1.4. One of my assets points to a sourcemap and I'm having problems telling Rails where to look for it. Since Rails doesn't know where to find it, it throws an error in the console :(.

Whenever I visit any page, I get

[2017-11-07 15:26] jplethier commented on #408
Similar problem here, I am using webpacker, and the css compiled on each server has different fingerprints. This causes that sometimes an user access the page through server A and when webpacker css are load, the request goes through server B, so it returns 404 because it exists with different name(different fingerprint) in that server.

Did you find a solution for this @mckomo

[2017-11-10 10:43] lukaszsliwa opened #412 "ActionController::Base.helpers.asset_path does not work in the production rails 5.1"
I am trying to set `default_url` in carrierwave and got untypical problem. Simple function does not work in the production server but works in development:

[code]
`ActionController::Base.helpers.asset_path` returns `/logo.jpeg` instead of digest path in the production environment. I have set `config.assets.unknown_asset_fallback = true` to see what excatly it does.

I expect to see `/assets/logo-

[2017-11-10 10:53] lukaszsliwa commented on #412
I did renamed `logo.jpeg` to `logo.jpg` and stopped running `rake tmp:clear` capistrano task after deploy and it works fine now.

[2017-11-10 10:53] #412 closed

[2017-11-13 17:57] FlowerCannon opened #413 "For some reason sprockets seems to fail on large javascript files."
HI, I'm developing a Rails application for a year using Rails 4.2.6 and sprockets 4.0.0.beta5 + babel-transpiler so I can use ES6.

It were going well in one year of development until a very strange thing began to happen: After a merge branch my tests started to fail and sprockets was complaining some files were not declared in manifest.js file but they was declared! It also started to pop up `Act

[2017-11-14 01:43] ArthurZ commented on #181
In my case I needed to `bundle exec rake assets:precompile` and restart NGinx

[2017-11-14 17:09] FlowerCannon commented on #413
Sorry everyone. After debugging and investigating a lot I discovered that (maybe) the issue is actually related to babel transpiler. It seems that ExecJS and node are messing up precompiling and confusing sprockets.

[2017-11-15 11:26] teeceepee commented on #403
I encountered the same problem. My teammate insert `image_tag('bar')` in the index page, it worked in development environment, but crashed in production environment. That was terrible. I think we should make it consistent in any environment.

[2017-11-21 20:12] #413 closed

[2017-11-30 15:11] Fudoshiki opened #416 "Sprockets 4 ignore manifest.js for precompile assets"
Sprockets 4.0.0.beta6

**app/assets/config/manifest.js**
[code]

`app/assets/stylesshets/pages/index.sass`
`app/assets/stylesshets/application.sass`

When run **rails assets:precompile**
[code]
`pages/index.css` and `pages/index.css.gz` missed, same with **RAILS_ENV=production rails assets:precompile**

If add `pages/index.css` in `config/initializers/assets.rb`
[code]

then works as expected http

[2017-11-30 15:20] #416 closed

[2017-12-08 14:29] swaps19 commented on #346
agree with @tisba

[2017-12-12 21:36] rafaelfranca commented on #346
Yes, it is https://github.com/rails/sprockets-rails/commit/f3558797a230ded556939eecf82f7f6ae759608c#diff-b295f4f07d2e863f15e53eb2047cfd1fR156. `alias_method_chain` is only called in the `included` callback and `included` callback is only called when `include` is used to `include` the module. As `include` is only called when `prepend` is not defined, `alias_method_chain` is only called when `prepen

[2017-12-12 21:36] #346 closed

[2018-01-09 14:47] neyp opened #419 "Precompiling on page load in development"
I'm using Rails 5.1.4, sprockets 3.7.1 and sprockets-rails 3.2.1. When I start the development server and visit a url for the first time, precompiling is triggered hugely slowing down page load. This wasn't happening with Rails 4 and an older version of Sprockets.

[2018-01-11 11:18] albertnetymk opened #422 "config.assets.quiet = true causing crash for rails-4.2.10"
With `config.assets.quiet = true` in `config/environments/development.rb`, I got the following error message on loading the home page.
[code]

Removing the `quiet` option, and restart with `rails s` makes the home page load, and I can see a lot of info message on my terminal where I started `rails s`.

I am using ruby (2.3.1), rails (4.2.10) and sprockets-rails (3.2.1).

PS: I have gone through al

[2018-01-13 22:12] albertnetymk commented on #422
Updating to ruby 2.5.0 and rails 5.1.4 seems to fix the issue.

[2018-01-13 22:12] #422 closed

[2018-01-16 06:44] jay-techcompose commented on #299
NoMethodError - undefined method `first' for #<Sprockets::Asset:0x0000000c0cbd70>:

[2018-01-16 06:48] jay-techcompose commented on #291
anyone can help me for this?
NoMethodError - undefined method `first' for #<Sprockets::Asset:0x0000000c0cbd70>

[2018-01-19 14:55] cshupp1 opened #423 "Rails Logger and Sprockets aren't compatible in 5.1.4"
This problem is being observed on Windows 10 with JRuby 9.1.15.0.  A full gem list is at the bottom.

When bringing up rails the following code in quiet_assets.rb:
[code]
results in the following exception:
[code]
Workaround, in development.rb
[code]

Gem list:

[code]

[2018-02-27 05:57] CicholGricenchos commented on #419
Caused by https://github.com/rails/sprockets-rails/blob/master/lib/sprockets/railtie.rb#L34-L52. The `asset_precompiled?` is called under development environment and the `precompiled_assets` is the time consuming one.

https://github.com/rails/sprockets-rails/blob/master/lib/sprockets/rails/helper.rb#L78 this line controls to skip the `asset_precompiled?` check. However the `options[:debug]` is no

[2018-03-11 09:18] Fudoshiki commented on #393
Same in production with Sprockets 4.0.0.beta6 and master branch

[2018-03-11 12:15] eileencodes commented on #393
Hrm, I can't imagine this is caused by system tests. Can you reproduce using Capybara and Selenium _without_ system tests? We don't do anything special, it's just a wrapper around those tools.

[2018-03-11 12:16] Fudoshiki commented on #393
This isn't system tests failure, SRI don't work in Sprockets 4.0.0.beta6 and master in all modes

[2018-03-11 12:19] eileencodes commented on #393
OK thanks @Fudoshiki - I misread your comment 😄

@renchap can you update the title / info to reflect the new information? Thanks

[2018-03-11 12:36] renchap commented on #393
I forgot about this issue :) Title updated!

[2018-04-18 07:10] anson2590 opened #425 "Rails.application.assets returning nil in production"
Im using Rails 5.1.5 and sprockets-rails 3.2, when i try to run my application in production mode image file (default.png) its not fetching it from public folder though the file is present in public folder.

code:
     open(Rails.application.assets[File.join(default.png)].filename) { |f| f.read }

error im getting in production:
     undefined method `[]' for nil:NilClass

In development mode it w

[2018-04-18 16:07] rafaelfranca commented on #425
It is by design. In production assets are not compiled on the fly, so `Rails.application.assets` is `nil`. When compilation is enabled `Rails.application.assets[File.join(default.png)].filename` doesn't read the file from the public folder, it compiles the file again. This is the reason why we set it to `nil`, so people don't think they are reading the file from the disk when in reality they are c

[2018-04-18 16:07] #425 closed

[2018-04-21 21:03] mike-stewart commented on #387
I'm running into this same problem on Sprockets 2.x. I realize this is an old version, so if the behaviour has changed in 3.x please let me know.

I am running asset precompile in a Docker build, and looking to re-use this docker image across multiple Rails environments that use the same asset configuration and dependencies (actually identical). However, it seems that changing the Rails.env string

[2018-04-25 06:05] rafaelfranca commented on #387
Upgrading to 3.x fix the problem.

[2018-04-25 06:05] #387 closed

[2018-05-09 15:40] alaxalves opened #426 "Versions above '2.3.1' breaks `link_to`"
I am currently upgrading my app to Rails 5.1.6, and when I `bundle update` to latest sprockets-rails 3.2.1, I get the following output in `localhost:3000`:
![image](https://user-images.githubusercontent.com/19597045/39823781-288c9bc0-5384-11e8-9e5e-0788ae717f19.png)

My Gemfile:
[code]

[2018-05-17 23:06] rafaelfranca commented on #426
Can you please provide a sample application that reproduces the error?

[2018-05-27 16:58] feliperaul commented on #240
Also lost +1 hour on this today.

Just want to point that I'm on Rails 5.2, which defaults to sprockets 3.7.1, and this bug still occurs.

As far as I could see, there's an open pull-request https://github.com/rails/sprockets/pull/478 to backport this to sprockets 3.7, since the merge mentioned in https://github.com/rails/sprockets/pull/404 was for version 4 only, which Rails 5.2. still doesn't us

[2018-05-28 17:50] Fudoshiki commented on #393
any plans to fix this?

[2018-05-29 20:43] iamdriz opened #427 "Rails Sprockets file uses local manifest for digests instead of asset host version"
In our web application built in Rails we have several clients using the same application who will have different assets that are used dependant on which subdomain is used.

To achieve this we swap out what folder is being used on the CDN like so:

    config.action_controller.asset_host = Proc.new { |source, request|
      if request.subdomain.present?
        "http#{request.ssl? ? 's' : ''}://cdn

[2018-06-20 13:06] hananamar opened #430 "Path traversal patch conflicts with existing dependencies"
The patch regarding the latest [Path Traversal vulnerability in Sprockets](http://seclists.org/oss-sec/2018/q2/210) has been implemented in release version `2.12.5` of Sprockets. However, Rails `3.2.22.5` depends on Sprockets version `2.2.1`.

[2018-06-20 13:43] matthewd commented on #430
https://github.com/rails/rails/issues/33169#issuecomment-398752636

[2018-06-20 13:43] #430 closed

[2018-06-26 18:29] sumeetattree opened #431 "Has this been patched for the security vulnerability to use the latest sprockets?"
[In relation to this](https://blog.heroku.com/rails-asset-pipeline-vulnerability) I still see that the sprockets version listed is '>= 3.0.0' and heroku recommends upgrading to '3.7.2'. Is this going to be addressed?

[2018-06-26 18:42] #431 closed

[2018-06-26 18:48] sumeetattree commented on #431
Got it. Thanks!

[2018-07-13 17:32] voltechs commented on #264
Why is `asset-path` generating a URL? `asset-url` should be reserved for that. `asset-path` should only do the path part. We have three environments with non-changing assets _except_ for the hostname in the URL, so we opt to use the `asset-path`. Unfortunately `asset-path` is producing a URL, and since our asset_host changes per environment, the asset only works in the environment it was compiled

[2018-07-22 17:16] sundevilyang opened #432 "Downloading sprockets-rails-3.2.1 revealed dependencies not in the API or the lockfile (sprockets (>= 3.0.0))."
# Problem
[code]

bundle env
## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2018-07-23 02:48] #432 closed

[2018-08-04 20:56] pedrofurtado opened #433 "This gem is compatible with gem sprockets in 4.x version?"
@rafaelfranca  The version 3.2.1 of this gem is compatible with sprockets gem ( https://github.com/rails/sprockets ) in 4.x version?

[2018-08-07 19:42] rafaelfranca commented on #433
Yes

[2018-08-07 19:42] #433 closed

[2018-12-07 22:32] tom-brown commented on #294
I'm on rails 5.2 and I am having this problem and finally added an application helper to find_assets in both development and production:

[code]
then I can call image_exists?(path) from anywhere in both dev and production.  There is probably a better way to do this, but it works for now.

[2018-12-07 22:59] tom-brown commented on #237
I found ways to check for assets in both development and production, but neither works in both environments, so I added an application helper like this:

[code]

Now I can check if an image_exists in both production and development before calling image_tag.  The root of the problem is image_tag throws an exception if the image doesn't exist....why not just respond nil???

[2018-12-16 06:59] alfie-max commented on #411
yea.. i'm having the same issue.. with multiple css.map files

[2019-01-20 13:16] schuetzm commented on #372
I've run into a variation of this with webpacker. Running `rails assets:precompile` in Rails 6.0.0.beta1 generates packs for several example JS files from `node_modules`:

* `webpacker/lib/install/examples/stimulus/application.js`
* `webpacker/lib/install/javascript/packs/application.js`
* `webpacker/test/test_app/app/javascript/packs/application.js`

Steps to reproduce:
* create a new Rails 6.0.0

[2019-01-21 21:09] andyw8 commented on #369
Just FYI @dreyks, this GitHub issue is referenced in the book [Component Based Rails Applications](https://www.cbra.info/book/index.html) (chapter 2).

[2019-05-22 18:33] JohnMerlino2 opened #436 "Concatenating the scripts in development produces string js code when extra newline breaks present"
I can't reproduce this error. I don't know how to reproduce this error. I am not even sure what the error is. I just know it was an error. I was using Assets Pipeline in development, and I started to get this javascript error about it calling one of my functions but passing in invalid arguments. I traced it to this line of code:

(function() {

}).call(this);

Sprockets added this between two conc

[2019-06-14 07:52] sevenseacat opened #438 "Make #197 optional?"
Have run into an issue caused by #197 because I want to generate new assets dynamically in a directive, and Sprockets raises an error when trying to include the newly generated files in the same request.

Is it possible to make this opt-out? (I know it would be a performance hit)

[2019-07-08 02:59] dennyluan commented on #411
This is still happening in Rails 6.rc1 and sprockets-rails 3.2.1.

I solved it for now by importing from `@import "bootstrap/scss/bootstrap"` instead of `@import "bootstrap/dist/css/bootstrap"`.

[2019-07-08 08:51] alfie-max commented on #411
@dennyluan i did the same to get rid of the error

[2019-08-05 19:03] davidsbailey commented on #352
The performance benefits of disabling `config.assets.check_precompiled_asset` are not well documented, and are very difficult to discover without locating this github issue and reading the above discussion. @rafaelfranca , would you accept a pull request to document this more clearly? https://github.com/rails/sprockets-rails/pull/441

[2019-08-13 05:24] taylorJaplpha commented on #391
@taylorjalpha

[2019-08-22 20:39] prdetective commented on #352
Recently upgraded to sprockets 3.x. App has huge amount of assets - images and stylesheets. They should be loaded only under special conditions. With caching disabled, first request after server boot takes around ~1.5 minutes.

I've spent couple of days trying to understand what's going on, until I finally found this answer: https://stackoverflow.com/questions/35683185/rails-sprocketsrailshelperas

[2019-10-08 19:23] Fryguy opened #443 "gemspec pulls in sprockets 4.x"
At present, the gemspec is open ended [1] on the sprockets version and with the release of sprockets 4.0, that version automatically gets pulled in.

While the specs in this gem pass locally when I switch to 4.x by modifying the Gemfile [2], our application is failing with the following error:

[code]

For now we pinned our app's sprockets dependency to 3.x and we are ok.  However this gem bringin

[2019-10-08 19:59] rafaelfranca commented on #443
Thank you for the report. This gem supports both sprockets 3 and sprockets 4. We even test against it.

That error you see is an error in your application that you need to fix in order to use sprockets 4.

[2019-10-08 19:59] #443 closed

[2019-10-08 20:05] Fryguy commented on #443
My concern is that the open-ended nature of the gemspec dep causes it to get pulled in, and it's not "compatible" without app changes.

[2019-10-09 09:53] delner opened #444 ""Expected to find a manifest file" error with assets disabled"
With the release of Sprockets 4.0 and the requirement of a `manifest.js` file, we're seeing an error similar to #443 with `sprockets-rails` 3.2.1 where our test suite is producing this error:

[code]

We load the standard `require 'rails/all'` in our test suite (which loads sprockets 4.0 by default), but we have no interest in using Sprockets or the asset pipeline within it.

If we disable Sprocke

[2019-10-09 16:11] rafaelfranca commented on #444
The proper way to fix this is stop using `require 'rails/all'` and not load `sprockets/rails` in your application.

[2019-10-09 16:11] #444 closed

[2019-10-10 08:56] delner commented on #444
This is not an option for us; we need all the default Rails components other than Sprockets, and to have to update our `require '*/railtie'` statements every time Rails adds new components (e.g. ActionText, ActionMailbox) because `sprockets-rails` doesn't want to check whether its actually enabled or seems like a bad experience for Rails users who `gem 'rails'`.

[2019-10-10 16:23] Samsinite commented on #443
I'm getting this same error as well, can we reopen this issue? Seems like a bug to me and would lie to better understand why it is not.

[2019-10-10 17:43] rafaelfranca commented on #444
The way Rails let you opt-out components is by requiring individual railties. Railties are added once a year, you don't need a lot of work to add require statements once a year. There is no other option, sorry.

[2019-10-10 17:45] rafaelfranca commented on #443
It is not a bug. This gem work with both sprockets 3 and sprockets 4. It is possible that you app don't work with sprockets 4. In that case you either need to make it work by following https://github.com/rails/sprockets/blob/master/UPGRADING.md#guide-to-upgrading-from-sprockets-3x-to-4x, or change you gemfile to lock the sprockets version.

[2019-10-10 19:28] Samsinite commented on #443
Locked for now, thanks for specifying the guide, can't believe I didn't notice it in the comment above. Sorry for the trouble

[2019-10-11 10:41] krisleech commented on #443
`gem 'sprockets', '~>3.0'`

[2019-10-11 12:05] delner commented on #444
If preventing `require 'sprockets/railtie'` is the only way to disable Sprockets, then what is the purpose of `config.assets.enabled = false`?

[2019-10-11 17:17] rafaelfranca commented on #444
That is for disabling compilation of assets. That doesn't disable the sprockets-rails to be loaded or executed.

[2019-10-11 17:47] matthewmath commented on #444
Just curious, the path is sprockets 3.2.1, why is `using_sprockets4?` now returning true and dropping into the required manifest code?

[2019-10-11 17:52] rafaelfranca commented on #444
sprockets is different of sprockets-rails. The path is sprockets-rails-3.2.1

[2019-10-15 14:45] JohnSmall opened #447 "How do I debug sprockets-rails?"
Context. Ruby ruby-2.5.5, Rails 5.2.3, Sprockets 3.7.2, Sprockets-rails 3.2.1
Running a project with lots and lots of css and js assets.

Problem: When running with `config.assets.debug = true ` I can load all the assets as the dependencies all load individually.

When I pre-compile assets so that they're in `public/assets` then I can run with `config.assets.debug = false`.  But with `config.asset

[2019-10-16 08:51] coorasse opened #448 ""Expected to find a manifest file" but I don't have any asset"
This error is raised when the manifest file is not present. See also #444 .
Our use case is different: our app doesn't contain any sprockets assets, and uses webpacker to manage everything, but an engine that is mounted needs Sprockets. So basically:
* I don't want to create a manifest.js. I don't need it. I don't have any resource.
* I cannot disable sprockets. Is needed by the engine
* My only s

[2019-10-16 17:58] rafaelfranca commented on #448
How is your engine using sprockets? Without a manifest the engine should not be working with sprockets 4.

[2019-10-16 18:47] hadees commented on #443
I get the reason it breaks but it is kind of annoying that an update for `rspec-rails` would totally break my test environment because of a change in sprocket.  I guess this is a larger Ruby where people don't properly set version constraints for gems.

[2019-10-16 22:22] denys-husiev commented on #444
I have this error just because I need to `require 'sprockets/railtie'` for using graphiql-rails gem.  And to fix it, I should add manifest.js file to my rails api project. Seems a little weird :)

[2019-10-17 08:00] coorasse commented on #448
https://github.com/sferik/rails_admin

apparently it doesn't have one. does this mean the engine should lock onto `sprockets < 4` or add a `manifest.js` ?

[2019-10-18 14:22] arivero opened #449 "header control when config.assets.compile = true"
Could it be possible to add somewhere an option to set the headers of assets produced when the compile option is true? I mean, the not-precompiled ones.

I think that now they are produced with the same cookies and headers that any other request routed into rails, which includes the session cookie.

[2019-10-18 15:51] rafaelfranca commented on #449
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2019-10-18 15:51] #449 closed

[2019-10-18 17:36] rafaelfranca commented on #448
It seems Rails admin is configuring sprcokets using the `precompile` list, so it should work if your application don't have a manifest https://github.com/sferik/rails_admin/blob/master/lib/rails_admin/engine.rb#L17.

I'm torn about removing this check if we remove, people upgrading to sprockets 4 will silently have their apps not compiling the assets they were expecting, but in case like yours, yo

[2019-10-18 18:29] rafaelfranca commented on #443
The constraints are properly set in all gems. This is more a problem in bundler that you can solve easily by using the `--conservative` option when updating gems.

[2019-10-18 18:38] jonathanhefner commented on #448
(Preface: I use Sprockets in all of my Rails *apps*, and I greatly appreciate all the work that has gone into it.)

I recently encountered two use cases for disabling this check.

1) Adding an extremely minimal dummy Rails app to a gem test suite.  For example, adding the following:
[code]
    With Sprockets 4, requires a `test/dummy/app/assets/config/manifest.js` file.

2) Testing a generator tha

[2019-10-21 16:20] rafaelfranca commented on #448
That is not an minimal dummy Rails app. This is and would not have that problem

[code]

[2019-10-23 12:45] hugoh59 commented on #444
How do you solve this error?

[2019-10-24 19:53] denys-husiev commented on #448
@rafaelfranca are you going to add configuration to disable this check? If yes, could you please provide an issue number so I can follow when it's done.

Thanks in advance

[2019-10-28 13:49] mjankowski commented on #448
Thanks for this suggestion! I had a similar problem (spec suite in gem which should not have a manifest.js file, but does set up a dummy rails app). Changing away from the full `rails/all` to just including the piece s I needed solved this for me.

I think a config option might still make sense, but until then, this might help gem authors with dummy apps sort it out.

[2019-10-31 19:12] andreynering commented on #444
I could solve it by running:

[code]

[2019-11-02 04:37] ericraio commented on #66
Here's my implementation that I started using if it's helpful

[code]

[2019-11-06 10:49] masterofkfit opened #450 "Need some clarification for this text"
Does this mean there's a way to disable loading the full rails environment?

I need to precompile assets in a docker build step but want to avoid booting up the full rails app.

[2019-11-06 18:27] camilova commented on #411
Hi, i'm having the same issue but with .min.js files
 I require a file from `node_modules` so

    //= require bootstrap4-toggle/js/bootstrap4-toggle.min

but then when I open the devtools on Chrome, console shows an error

    ActionController::RoutingError: No route matches [GET] "/assets/bootstrap4-toggle.min.js.map"

Any idea how can I solve this?

[2019-12-02 12:32] ziaulrehman40 commented on #393
This issue is forcing us to stay on v3 for now.

[2019-12-11 06:18] YasirAsar opened #452 "rake aborted! Sprockets::FileNotFound: couldn't find file 'term' with type 'application/javascript'"
**Assets precompile not working properly**
root@5aec0baa9b95:/myapp# rake assets:precompile --trace
** Invoke assets:precompile (first_time)
** Invoke assets:environment (first_time)
** Execute assets:environment
** Invoke environment (first_time)
** Execute environment
** Execute assets:precompile
rake aborted!
Sprockets::FileNotFound: couldn't find file 'term' with type 'application/javascript'

[2019-12-11 14:27] kennyadsl commented on #448
I think https://github.com/rails/sprockets-rails/pull/446 would fix this issue, since it allows to specify a custom path for the Dummy app manifest, as [we would do in Solidus](https://github.com/solidusio/solidus/pull/3379) if it gets merged.

[2019-12-13 10:05] siddushar opened #453 "Timeout error: ::Sprockets::Railtie.build_environment(Rails.application).find_asset("#{params[:controller]}.css")"
HI,

Im getting timeout errors while loading assets dynamically.

ERROR:
FATAL -- : Rack::Timeout::RequestTimeoutException (Request ran for longer than 15000ms):

 stylesheet_link_tag params[:controller] if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.css")
    = javascript_include_tag params[:controller] if (Rails.appli

[2019-12-13 14:07] rafaelfranca commented on #453
Please use StackOverflow for questions/help, where a wider community will be able to help you. We reserve the issues tracker for issues only.

[2019-12-13 14:07] #453 closed

[2019-12-26 16:38] BTC1M commented on #132
Did you find how to solve this issue ? I have exactly the same

[2020-01-06 01:19] isaacbowen commented on #393
I'm working around this with `Rails.application.config.assets.version = ''`, in my config/initializers/assets.rb, with sprockets 4 and rails 6. This works becaaauuuse:

https://github.com/rails/sprockets/blob/08fef08562c7a6a13a7c521938e83409a33e2b77/lib/sprockets/loader.rb#L198

We're using digests in asset urls, so (unless I'm missing something) it's totally unnecessary for us to have version as

[2020-01-06 22:52] SampsonCrowley opened #456 "No longer can remove app/assets after compile"
because Sprockets throws an error when "manifest" is missing, it's impossible to compile assets, and then delete the source folder. this is a really bad direction for people who use services like heroku, where speed is dependent on post-compiled app size. I shouldn't need to keep my source files after they've been compiled, just to start my server

[2020-01-16 00:05] bughit commented on #334
@rafaelfranca

The asset cache does not appear to be partitioned by environment, it's all in  tmp/cache/assets/sprockets/v3.0

Does partitioning no longer require separate folders?

[2020-01-16 14:24] StefanWallin opened #457 "Sprockets 4.0 — Not able to require font's from gem like bootstrap"
First off all, thank you for this great piece of software! 🧁

### Description of Issue
My issue is that since the introduction of the manifest.js-solution I am not able(or knowing how) to include font-files provided by an external gem such as [bootstrap-sass](https://github.com/twbs/bootstrap-sass). I'm not sure if this is an issue with `sprockets-rails` or an issue with `bootstrap-sass` or `sass-

[2020-01-16 17:04] rafaelfranca commented on #457
This is an issue on bootstrap-sass. They are still using the removed regular expression support on the precompile list https://github.com/twbs/bootstrap-sass/blob/b34765d8a6aa775816c59012b2d6b30c4c66a8e9/lib/bootstrap-sass/engine.rb#L12

[2020-01-16 17:04] #457 closed

[2020-01-17 09:40] StefanWallin commented on #457
Thank you for the fast reply! 🤩  I'll try to make a PR with them then!

[2020-02-10 02:12] 1vasari commented on #423
Looks like a fix for this has been provided in #381 but never merged. In the meantime I'm setting `quiet` to `false`...

[2020-03-01 17:58] matyapiro31 commented on #444
So, what is the cause of this error?
I didn't find this message before 2019, so there were some change that let this error happen.

[2020-03-08 19:33] john-999 opened #458 "Error: Asset 'application.css' was not declared to be precompiled in production"
I'm getting the error:

    ActionView::Template::Error (Asset 'application.css' was not declared to be precompiled in production.
    Declare links to your assets in 'app/assets/config/manifest.js'.

      //= link application.css
    and restart your server):

But I have my `application.scss` (NOT .css) in `app/assets/stylesheets` and my `app/assets/config/manifest.js` says:

    //= link_tree .

[2020-03-11 15:12] johnnorris commented on #458
I've also just had this same problem with the same versions, and the same temporary solution worked for me.

[2020-03-29 01:09] alejandrocen commented on #444
For Rails api only:

In file: `config/application.rb`

Uncomment:
`require 'sprockets/railtie'`

Create `app/assets/config/manifest.js` and add this:

[code]

My `Gemfile`

[code]

[2020-03-31 13:00] fxtentacle opened #459 "Erronously returning cached version on NoMethodError"
I was just bitten by a rather annoying bug in sprocket-rails 3.2.1, the result of which was that in development mode I was seeing wrong URLs.

I tracked this down to the fact that I was being served an outdated version of the page, which had apparently been cached.

Running `rake tmp:cache:clear` then made the true error visible, which was
[code]

I believe that this is a bug in the sprocket-rails

[2020-04-11 16:44] rossinkiwi commented on #458
This manifests as a compile error for me.  Downgrading sprockets-rails version makes the issue go away.  See attached file for rails assets:precompile trace.  The trace seems to indicate a coffeescript error, but I have no coffeescript files in my app/assets/javascripts or gems akaik.

[assets_compile.txt](https://github.com/rails/sprockets-rails/files/4464964/assets_compile.txt)

[2020-04-15 00:38] arianf commented on #444
@rafaelfranca Is there a list of `railties` that I can replace `require 'rails/all'` with for my version of rails?

[2020-04-15 00:46] arianf commented on #444
Never mind found it: https://github.com/rails/rails/blob/5-1-stable/railties/lib/rails/all.rb

(replace 5-1) with your version

[2020-04-24 11:50] dimameshcharakou commented on #458
`rake tmp:clear` helped me.

[2020-04-27 13:59] MichaelSeeberger commented on #458
Doing what the error told me worked. My `app/assets/config/manifest.js` now looks like this:
[code]
I too have `application.scss` and not `application.css`.  I have the same versions, except rails is 6.0.2.2

[2020-05-13 21:43] shanecav84 commented on #458
For me, this was caused by a missing Javascript asset:

[code]

I'd updated a third-party JS library, which had changed its path. Correcting the path fixed the problem. Weird that it had nothing to do with `application.css`.

[2020-05-14 21:14] andrewmcodes commented on #456
If you want to remove the assets folder you need to find and remove any config options that reference assets (example from `development.rb`: `config.assets.quiet = true`), and then in `application.rb`, instead of requiring all of the rails libraries with `require "rails/all"`, replace it with something like the following:

[code]

See https://github.com/rails/rails/blob/master/railties/lib/rails/a

[2020-05-15 05:47] SampsonCrowley commented on #456
@andrewmcodes the goal isnt to remove sprockets, its to remove the unneeded source files in production

[2020-05-19 18:28] thebravoman commented on #458
Same problem, but with application.scss.erb.

Workaroud it with
[code]

[2020-05-20 22:38] mperham commented on #444
This is shockingly un-empathetic from the Rails team. Look at the number of linked issues this has generated. I have 3-4 test Rails apps in my test suites, every one broke when I upgraded rails in my Gemfile. My apps were generated years ago with `rails new`. Can we not have better fallback behavior?

[2020-06-02 21:29] dbackeus commented on #444
An alternative approach to avoiding this issue would be to lock `sprockets-rails` to pre 4.x by explicitly adding:

[code]

To your `Gemfile`.

Judging by the gemspec, Rails 6 is still compatible with both sprockets 2.x and 3.x.

[2020-06-03 03:25] Br3nda commented on #444
here's how I finally upgraded rails on an older open source rails app

added this to `app/assets/config/manifest.js`
[code]

and then re-ran `bundle exec rails assets:precompile`

[2020-06-05 00:19] rafaelfranca commented on #393
Closed by 5038ad5368eb8792465c2eaad453a296ce2180e0

[2020-06-05 00:19] #393 closed

[2020-06-15 19:43] joelcahalan commented on #444
I had to pin an API only rails app to sprockets less than 4. Despite not requiring sprockets in application.rb it was still somehow being loaded and causing an error.

[2020-06-15 22:35] sobrinho commented on #444
Got bitten by this one more time today.

[2020-07-08 23:02] roxannecojocariu commented on #458
Same problem for me.  Sprockets updated it's documentation to explain [why this is happening and how to fix it](https://github.com/rails/sprockets/blob/master/UPGRADING.md#manifestjs).  Essentially, you'll need to add subdirectories in your `app/assets/stylesheets`.  This solution is the only one that's worked for me so far.

[2020-07-23 21:33] dtangeeda commented on #359
This issue of not generating the checksum(hash) for SRI occurs only in local build when using "bundle exec rails s".
But it does generate it in production mode. Pls try running the bundle exec in prod mode.

[2020-08-01 06:06] sanemat opened #464 "Could you release 3.2.2?"
@rafaelfranca could you release latest version? current latest 3.2.1 is released on Sep 1, 2017
we got deprecations with Ruby 2.7

[2020-08-04 20:45] ecentell-CPF commented on #464
Any chance a Ruby 2.7 version of the gem getting pushed to rubygems.org soon? I have a client that needs to upgrade to a new version of Ruby and this is holding them up.  There are 34 commits that are made against the project that are not reflected on rubygems.org repo.  Specifically they need the commit c454afd3824a912316ebc8b15e09d64f378a5013 to fix the deprecation.  Please advise if there is an

[2020-08-05 02:27] sanemat commented on #464
you can use this repo directly 😓
[code]

[2020-08-05 02:40] ecentell-CPF commented on #464
@sanemat thanks for the information guess I should have read more, would you happen to know if I could specify it like this:
gem 'sprockets-rails', github: 'rails/sprockets-rails', ref: 'c454afd3824a912316ebc8b15e09d64f378a5013'
to lock onto that specific commit and everything prior?

[2020-08-06 07:35] sanemat commented on #464
https://rubygems.org/gems/sprockets-rails/ 😭

[2020-08-06 07:40] sanemat commented on #464
@ecentell-CPF I don't check it, but your format seems ok. https://bundler.io/v2.1/guides/git.html

If you want to use specific ref, I recommend to use `b0b380ef956e66572793dec32c4c67db09664449` or `c269f5e01fdffa5c41350e855183d94ff33d318a`. based on current commit history.

[2020-09-12 07:50] pixeltrix commented on #464
@sanemat v3.2.2 has now been released - sorry for the delay.

[2020-09-12 07:50] #464 closed

[2020-09-15 20:44] schneems commented on #304
I don't think it was intentional. Does anyone have a super small codetriage.com/example_app that shows this issue?

[2020-09-16 21:34] david-mears commented on #304
@schneems I came across this issue in my hobby app today. I have stripped out everything apart from what is needed to demonstrate the issue, and I've put it in this repo:

https://github.com/david-mears/jpeg-issue-demo/commits/illustrate-jpeg-issue

I deployed it to https://sheltered-beach-99525.herokuapp.com/, which is up at the time of writing. Heroku hobby apps sleep when they haven't been touc

[2020-09-16 21:39] schneems commented on #304
The link I provided has instructions on making an example app it looks like github didn't expand the link.

To note: this will have performance issues and also opened a directory traversal security issue in an older version of sprockets.

Thanks for the app!

[2020-09-19 16:56] yubele commented on #369
I made a PR. In my case this was the solution. @dreyks

[2020-09-29 15:09] swapnilchincholkar commented on #444
Faced the same issue with API only app with rails(v 6.0.3.3), ruby(v 2.7.1). Required to do both of the following,

1. Uncommented `require "sprockets/railtie"` from `config/application.rb`
2. And [creating empty manifest file](https://github.com/rails/sprockets-rails/issues/444#issuecomment-548526846) as said by @andreynering

[2020-10-07 09:14] mayankdedhia commented on #444
Just doing this worked for my API only app

[2020-10-09 09:12] gingerlime commented on #444
sorry for another "me too", but I'm really confused why this happens even for a rails app that doesn't use sprockets any more. We:

* removed the gem
* remove `require "rails/all"`
* commented out `require "sprockets/railtie"`
* removed our manifest.json since we no longer use it

Normally rails runs fine, but when we run, e.g. `bundle exec rake db:test:prepare` we get this error because the manif

[2020-10-14 04:30] estiens commented on #448
Still no way to disable this?

[2020-12-17 08:34] omarsotillo commented on #444
I know this is closed but I found kind of the issue at least for me ( I was upgrading from 5.2 to 6.0 and swap into webpacker) !

**After digging into it it was related with** [sassc rails](https://github.com/sass/sassc-rails/issues/150). It is using sprockets under the hood

My approach:
- Remove `sassc-rails` or find alternative
- Remove all references to assets
- Remove `tmp/assets` folder
- Re

[2020-12-17 08:40] omarsotillo commented on #444
Also recommended by @ahorek [here](https://github.com/sass/sassc-rails/issues#issuecomment-747291727) (did not try myself)

[2021-01-05 10:46] yonyossef commented on #444
[code]

Hi, can anyone tell me if the manifest.js file link is hard coded in sprockets, or it can be changed to a different location?
Can I change it from app/assets/config/manifest.js to lib/assets?
Thx

[2021-01-28 16:29] GCorbel opened #470 "Directives in erb files ignore subdependencies since Sprockets 4"
I recently updated the version of Sprockets from version 3.7.2 to 4.0.2. When I have those files :

[code]

[code]

[code]

With Sprockets 3, when I edit `subdep.js`, the result rendered by `main_test.js` was updated. Since Sprockets 4, it isn't.

It works as expected if I change `main_test.js.erb` to call the ruby method like this :

[code]
With directives `Rails.application.assets.find_asset('ma

[2021-02-04 11:10] voxik opened #471 "Sprockets 4 test suite failures"
Testing against Sprockets 4, there is [test failure](https://travis-ci.org/github/rails/coffee-rails/jobs/622026862):

[code]

[2021-02-04 12:07] voxik commented on #471
Wrong tracker, I should have reported this against coffee-rails

https://github.com/rails/coffee-rails/issues/122

[2021-02-04 12:07] #471 closed

[2021-03-04 12:35] aquadrehz commented on #376
You solution is great @jscho13
I also found working around as well

`config.logger = ActiveSupport::Logger.new('/dev/null')`

Ref :
https://stackoverflow.com/questions/38760235/unable-to-serve-static-assets-on-rails-5-0-super-no-method-silence-for-lo
https://stackoverflow.com/questions/41539844/rails-app-assets-not-being-loaded-on-development-environment

Should we **add this configure to the conf

[2021-03-15 21:22] mathieujobin commented on #297
5 years later, I am reading this and wonder if we could remove the monkey patch from teaspoon

[2021-03-29 19:07] Segaja opened #473 "tests failing with latest dependencies"
when i run the tests with the latest dependency versions i get these errors:

[code]

anyone any idea?

[2021-05-18 19:33] jrochkind commented on #304
As reported above for me breaks in *production*, but works fine in development.

If you have an asset ending in `jpeg`, and reference it with eg Rails `image_tag("something.jpeg")` -- works fine in development, raises `Sprockets::Rails::Helper::AssetNotFound` in production.

This is terribly confusing, not really documented anywhere as far as I know, and I just spent a few hours figuring it out --

[2021-06-14 23:21] jmoon90 commented on #448
This fixed my issue. For an API only heroku app I removed all my assets and
1. added `gem "sprockets", "<4"`
2. ran `bundle update sprockets`
3. Able to deploy to heroku

[2021-06-23 04:51] ajaleelp commented on #304
Took me a while to find this out! Anybody who can point me to the reason behind this? And totally agree with @jrochkind , it should atleast be warned about - especially given that it is not the same behaviour in development.

[2021-06-23 18:50] hahmed commented on #473
@Segaja this can be closed now that https://github.com/rails/sprockets-rails/pull/475 has been merged 👍

[2021-06-23 18:59] #473 closed

[2021-06-24 20:21] Segaja commented on #473
@hahmed do you have any idea when a new version will be released which contains that fix/change?

[2021-06-24 20:33] hahmed commented on #473
Not sure... is it possible to target master branch in your Gemfile?

e.g. `gem 'sprocket-rails', github: 'rails/sprocket-rails', branch: 'master'`

[2021-06-24 20:35] Segaja commented on #473
No. I actually need these tests to iimprove the Archlinux AUR package for this library ( https://aur.archlinux.org/packages/ruby-sprockets-rails/ ). But what I can do is pull the patch of #475 and try to apply it to the 3.2.2 release to fix the tests.

[2021-09-10 15:57] midnightmonster commented on #298
In development, @amw 's `asset_available?` method checks only _precompiled_ assets. That makes it correct according to its name but not as helpful in my case as it could be. I implemented `asset_exists?`, which in development uses `find_asset` instead. (From @amw's initial post, 🙏)

In my case, this code:
[code]
caused a `Sprockets::Rails::Helper::AssetNotPrecompiled` error, which for me is more h

[2021-11-12 10:14] chuchiperriman opened #478 "Incorrect relative URL in css"
We have updated sprockets-rails to 3.3.0 and now relative urls are wrong. With his line in css:

`src: url(./fontawesome/fa-brands-400.eot);`

the url is transformed to:

`src: url(/./fontawesome/fa-brands-400.eot);`

The first slash is incorrect because we have the font files in a path relative to the css, not in the root

[2021-11-15 10:37] tvdeyen commented on #478
Happening for us as well. The weird thing is that for us it is the other way round. Without `./` the url is considered absolute instead of relative. Changing it to `./` helped. I assume it is because you are not using quotes, while we are.

See https://github.com/AlchemyCMS/alchemy_cms/commit/c6e3cf2a2cac020f1d8a955b6a1ef06689f197f2

[2021-11-16 19:47] tomhughes opened #481 "Infinite recursion in SourcemappingUrlProcessor"
We have an asset in our project that appears to be causing an infinite recursion in the new `SourcemappingUrlProcessor` with a stack that looks like:

[code]

which then repeats over and over.

The asset that triggers it is https://github.com/Johann-S/bs-custom-file-input/blob/master/dist/bs-custom-file-input.js and although the url map comment seems sensible the preprocessor gets reinvoked for `b

[2021-11-16 20:33] esb commented on #481
+1 Got the same problem yesterday and had to rollback to the previous version. I haven't had time to identify the asset that triggered the bug, but I'm getting the same type of recursion.

[2021-11-16 22:01] chubchenko commented on #481
+1

[2021-11-17 14:29] ebenenglish commented on #481
Same issue after updating to 3.4.0, reverting to 3.2.2 solved the problem.

[2021-11-19 19:15] rafaelfranca commented on #481
@dhh this seems to be caused by your change. I tried to understand how to fix but unfortunately I could not understand the requirements.

[2021-11-19 19:23] rafaelfranca commented on #478
The new url processor will change relative paths to absolute paths, but at least the absolute paths should be correct. @jcoyne can you take a look?

[2021-11-19 19:25] jcoyne commented on #478
Yes, I'll have a look.

[2021-11-22 13:11] dhh commented on #481
I'll investigate and fix.

[2021-11-22 13:46] dhh commented on #481
The requirement is that sourceMappingURL needs to refer to digested assets, otherwise it's not going to work when those comments are added by esbuild/webpack/etc, because Sprockets will digest all assets in production. It's the same issue as with CSS `url()`.

[2021-11-22 15:56] #478 closed

[2021-11-22 16:28] dhh commented on #481
Trying to figure out exactly how this is triggered. How are you including bs-custom-file-input.js? Is it a local file?

Can you try #483 to see if it resolves the issue?

[2021-11-22 16:37] tomhughes commented on #481
It's just installed in `node_modules` and then pulled into `app/assets/javascripts/application.js` with:

[code]

[2021-11-22 16:45] dhh commented on #481
Hmm, I figured the issue was that we were running the same replacement more than once. But guess not. I'll try to replicate your setup.

[2021-11-22 17:37] dhh commented on #481
Found the issue. It's a bug deeper in Sprockets. If you do `context.resolve("a/source.js.map")` you'll correctly get `a/source.js.map` back. If you do `context.resolve("a/b/source.js.map")`, you'll incorrectly get `a/b/source.js` back instead 🤔. Vaguely remember hitting this bug before in another issue, but don't recall the specifics.

Anyway, I can work around this for now, but would be nicer to

[2021-11-22 18:39] dhh commented on #481
@tomhughes Can you give https://github.com/rails/sprockets-rails/pull/484 a try?

[2021-11-22 19:32] dhh commented on #481
Confirmed fixed on the reproduction and released as 3.4.1. Thanks for the help tracking this down!

Solving the underlying and long-standing issue with sprocket lookups on 2+ deep nesting is still pending. If anyone is interested in pursuing, please do.

[2021-11-22 19:32] #481 closed

[2021-11-22 20:50] tomhughes commented on #481
Yes that seems to have fixed it for us as well, thanks.

[2021-11-24 15:26] tvdeyen opened #486 "3.4.1: Relative assets urls are converted into absolute ones. Breaking existing code."
In https://github.com/rails/sprockets-rails/commit/05dbab27d54f58a7a505498863dd0d88a6b32389 a breaking change was introduced and released as 3.4.1 as a hotfix for the already breaking 3.4.0

Before sprockets 3.3.0 a url like `url(img/thing.gif)` inside a folder loads the image from the current folder (the folder the file lives in) relatively. This is valid HTML/CSS and every css processor reads th

[2021-11-24 15:34] Fjan opened #487 "String with slashes no longer parsed correctly in 3.4.1"
In sprockets-rails version 3.4.0 this CSS works correctly:
[code]

In sprockets-rails version 3.4.1 one of the slashes in the URL disappears from the output. As a mitigation you can quote the string inside the url function, then the slashes appear unharmed.

[2021-11-24 15:36] tvdeyen commented on #486
You can see the breakage in this failing CI https://github.com/AlchemyCMS/alchemy_cms/runs/4300052710?check_suite_focus=true#step:12:127

and what was necessary to fix it

https://github.com/AlchemyCMS/alchemy_cms/pull/2218/files

as you can also see we have to use a relative url starting from the top most folder (the sprockets lookup path) but it is then turned into an absolute url.

Both behavio

[2021-11-25 23:28] rafaelfranca commented on #486
@jcoyne can you take a look on this one as well please? We should making the absolute path relative to the current asset, and that should fix the issue.

[2021-11-25 23:30] rafaelfranca commented on #487
@jcoyne this one is also related to the absoute path fix.

[2021-11-26 21:18] rafaelfranca commented on #487
@Fjan Can you check if this issues was fixed by #485?

[2021-11-26 21:51] Fjan commented on #487
Confirmed, that fixes it. Thanks!

[2021-11-26 21:51] #487 closed

[2021-11-29 15:46] jcoyne commented on #486
@rafaelfranca yes, I'll take a look today.

[2021-11-29 21:17] jcoyne commented on #486
@tvdeyen is this still an issue after https://github.com/rails/sprockets-rails/pull/485?

[2021-11-29 22:27] nickcoyne commented on #486
I see [this issue](https://github.com/rails/sprockets-rails/pull/485) in versions 3.3.0, 3.4.0 and 3.4.1. No problems on 3.2.2.

[2021-11-30 03:02] jcoyne commented on #486
@nickcoyne the code from #485 hasn't yet been released, but it is in the main branch.

[2021-11-30 03:32] nickcoyne commented on #486
ok, thanks @jcoyne, I'll give that a try then.

[2021-11-30 07:42] valscion commented on #486
This issue still affects us even with the changes in #485. Previously `sprockets-rails` output the filenames as relative and now the change to paths being absolute breaks our build.

I don't really understand the reasoning behind this change and why these tests are the expected ones:

https://github.com/rails/sprockets-rails/blob/4e0f1686ce108ea3a52fb0dfb24bb6272ea2df3f/test/test_asset_url_process

[2021-11-30 13:47] jcoyne commented on #486
@valscion This is all driven by the new Rails 7 asset pipeline, which primarily uses sprockets-rails as a post-processor for cssbundling-rails.  It was the fix for https://github.com/rails/cssbundling-rails/issues/22

[2021-11-30 14:21] jcoyne commented on #486
@rafaelfranca I'm way out of my depth here. I've looked but I'm not sure how to go about this.

[2021-11-30 14:37] valscion commented on #486
Ok well good to know that this is driven by Rails 7 needs :+1:. We'll pin our version to 3.2.2 as this backwards-incompatible change was released in v3.3.0 ☺️

[2021-11-30 14:58] tvdeyen commented on #486
As I asked above, can we bump the version to `4.0.0.pre` with the changes for Rails 7 and revert the breaking changes from 3.3, 3.4 and release them as 3.3.1 and 3.4.2?

Then we can pin our projects to `sprockets-rails ["~> 3.3", "< 4.0"]` and Rails 7 can start using `4.0.0pre`

@rafaelfranca @dhh are you fine with that?

[2021-11-30 15:09] jcoyne commented on #486
@tvdeyen We use cssbundling-rails + sprockets-rails on a rails 6.1 app, so that would cause a breaking change for us.

[2021-11-30 15:24] tvdeyen commented on #486
@jcoyne could you use proposed 4.0.0.pre in your Rails 6.1 as well? I am not saying that `sprockets-rails` 4.0 should only work with Rails 7, but that Rails 7 uses sprockets-rails 4 as default if the breaking changes are necessary for Rails 7.

[2021-11-30 15:38] jcoyne commented on #486
@tvdeyen So that everyone better understands the AlchemyCMS use case, are the tinyMCE image assets linked to without the hash digest?  It might be that using cssbundling-rails wants all image assets to be digested and your use case is expecting non-digested assets.

[2021-11-30 16:08] tvdeyen commented on #486
@jcoyne yes, but this is totally unrelated to this issue. The digest gets removed (aka a symlink created) via the ` non-digest-stupid-assets` gem. That is not the issue we are seeing. The issue is as described above with relative urls and stylesheets and their images in the same folder (a common practice in JS themes). We fixed the tinymce icon font issues by adjusting our tinymce skin to use abso

[2021-11-30 16:19] tvdeyen commented on #486
`sprockets-rails` 3.3.0 was able to provide digested urls without making them absolute.

[2021-11-30 16:22] jcoyne commented on #486
@tvdeyen it didn't provide digested urls for every `url()` in the css, only those that used `image-url` or similar I believe.  With cssbundling-rails, that would have to change as it emits regular CSS.

[2021-12-01 07:45] valscion commented on #486
Yeah for us, we were relying on `sprockets-rails` to not mangle `url()` at all and let it be as it was. We are generating our CSS using a different pipeline and pass the end result through Sprockets pipeline so that we get gzipping and can use the [`asset_sync`](https://github.com/AssetSync/asset_sync) gem. The separate pipeline already adds a cache bust hash to the generated CSS filename, so we a

[2021-12-01 07:52] valscion commented on #486
Seems like AlchemyCMS also uses the `non-stupid-digest-assets` gem and thus already ends up monkeypatching the way Sprockets works: https://github.com/AlchemyCMS/alchemy_cms/blob/047119d1ac8bb039452ed1fa60e15b3a387f8cec/alchemy_cms.gemspec#L48 and uses the gem with the `tinymce` part referenced in this issue: https://github.com/AlchemyCMS/alchemy_cms/blob/047119d1ac8bb039452ed1fa60e15b3a387f8cec/l

[2021-12-01 13:59] jcoyne commented on #486
@valscion @tvdeyen thank you for you feedback on this problem. It's clear that the committers will have to make a decision about how to move forward. Rewinding a released feature is complicated, but we also shouldn't have broken existing apps. One thing I've learned is that sprockets-rails has very little test coverage, especially integration type tests. If someone is able to add those tests, I th

[2021-12-02 13:04] dhh commented on #486
In retrospect, yes, we probably should have bumped the major version. But that's more of a stylistic change. The end result would have been the same: some use patterns would have been incompatible. I don't see the trade off of reverting changes, pushing out a new 3.x release, then doing a separate 4.0 as being worth it at this point, though.

We can fix the relative-to-absolute conversion, though.

[2021-12-02 13:16] valscion commented on #486
That might work for us, yes.

For example, we have the built CSS file living in production in here:

[code]

And with `sprockets-rails` v3.2.2, that CSS contains this declaration for a SVG image:

[code]

Now this ends up downloading the SVG from here:

[code]

---

With `sprockets-rails` v3.4.1 that we tested, the CSS end result was something like this:

[code]

So the place it tried to load the

[2021-12-06 19:31] jrochkind opened #488 "Double inclusion of config.asset_host in CSS `url()` used with .erb asset path helpers"
I believe this began with release 3.3.0, and is a regression caused by #476

Let's say we have an `application.css.erb` with this in it:

[code]

And we have `config.asset_host = '//example.org'`. (The `//` protocol-agnostic asset_host is a common setting for CDNs, often recommended in docs).

With sprockets-rails 3.3.0+, if you `./bin/rails assets:precompile`, the output at `./public/assets/appli

[2021-12-06 19:36] jrochkind commented on #488
Verified problem still reproduces (problem is still there) on sprockets-rails main branch at 4e0f1686ce10

[2021-12-06 19:53] jrochkind commented on #488
Verified that changing `config.asset_host` to specify a protocol (eg `https://example.com`) instead of being protocol-agnostic (eg `//example.com`) avoids the problem, does not reproduce.

So that's a workaround.

Additionally, specifying `config.asset_host` as _just_ the bare hostname without leading `//` also seems to work. `config.host = "example.com"`, and the produced CSS output actually stil

[2021-12-06 21:04] jrochkind commented on #488
Workarounds?

Adding a `//` to the beginning of your `config.asset_host` isn't actually what's recommended in Rails docs ([eg](https://api.rubyonrails.org/v6.1/classes/ActionView/Helpers/AssetUrlHelper.html)).

Still, it worked before, and is recommended in some online examples ([eg](https://gist.github.com/mm53bar/4171061)), and I believev that breaking it in a minor release is still a regression

[2021-12-06 21:19] jrochkind commented on #488
(Sorry, I keep making comments and then deleting them about whether different forms of absolute/relative url in `config.assets_host` exhibit or not, because I keep getting confused about what i'm observing. I am also not currently sure if it exhibits on main branch, sorry!).

[2021-12-06 21:23] jrochkind commented on #488
OK, now I think maybe the problem **IS** fixed at main branch at 4e0f168.

Could someone else verify this though? I don't trust myself, I keep seeing different things!

If it is fixed on main, could we get a patch release soon, to spare others this trouble?

[2021-12-06 21:35] jrochkind commented on #486
So, the need for digested asset references in _some_ cases of course existed before. Is it that Rails 7 with css-bundler increases the cases where you want/need this?

As I understand it/have experienced it, previously, if you wanted digested assets referenced in a CSS file, you'd have to use something like the sass-rails helper `asset-url()`, or the ERB helper `asset_url()`.  Which means you'd ha

[2021-12-06 21:38] jrochkind commented on #486
Could a sprockets configuration flag be added, which defaults to old behavior for backwards compat, but allows opt-in to new behavior that I guess (but don't personally understand) is necessary for use with cssbundler-rails?

[2021-12-06 22:32] rmacklin commented on #486
@jrochkind I've opened a draft PR to make this behavior configurable: https://github.com/rails/sprockets-rails/pull/489. Can you either provide an example application that reproduces the problem or simply try that PR in your application? The expected behavior would be that when using that branch, your assets work (CSS `url()` references would not be rewritten), and if you then set `Rails.applicati

[2021-12-07 08:51] valscion commented on #486
The approach in #489 would work for us and fix the issue with us not being able to upgrade ☺️

[2021-12-08 01:34] rmacklin commented on #486
@valscion Just want to clarify - were you able to test PR #489 in an application that had previously experienced broken assets when upgrading sprockets-rails?

Despite opening that PR, I actually don't work on any applications that were affected by the issue, which is why I was asking above if @jrochkind or someone else could either provide an example application or test the PR in their own privat

[2021-12-08 07:08] valscion commented on #486
Yes, I took that PR to a test-drive. That run passed our tests so I'm fairly confident that we'd be able to ship a version of `sprockets-rails` with the changes in #489.

[2021-12-10 00:39] westonganger commented on #458
In my case `rake tmp:clear` did not work. I had to explicitly use `rm -rf tmp/*`

[2021-12-11 07:32] dhh commented on #486
Option to turn off rewriting has been shipped in https://github.com/rails/sprockets-rails/releases/tag/v3.4.2.

[2021-12-11 07:32] #486 closed

[2021-12-11 07:32] dhh commented on #488
Fixed in https://github.com/rails/sprockets-rails/releases/tag/v3.4.2.

[2021-12-11 07:32] #488 closed

[2021-12-12 00:19] mattbrictson commented on #488
I ran into this as well, and can confirm it is fixed in 3.4.2.

FWIW, for some reason I had to bump my `config.assets.version` in order to see the fix.

[2021-12-13 18:14] jrochkind commented on #488
Confirmed fixed for me too in 3.4.2, with `config.asset_host = "//example.com"`, and also `config.asset_host = "example.com"`.

I _think_ the second one (hostname-only) triggered bug previously as well, and is recommended in some Rails docs.

Both seem fixed to me in 3.4.2.

[2021-12-13 19:46] medha243 opened #491 "NoMethodError for bootstrap-editable-rails Sprocket 4.0.x"
Hi,

I'm receiving the following error:

`undefined method `start_with?' for /bootstrap-editable\/.*\.(?:png|gif)$/:Regexp`
[code]
Gem consumed: https://rubygems.org/gems/bootstrap-editable-rails/versions/0.0.9 On removing this gem the error goes, but I cannot use .editable anymore.

Already removed all assets.precompile.
I have seen documentation for this error in github but it doesn't fit my cas

[2021-12-28 00:35] diek opened #495 "'Network error while fetching' even though manual download possible"
I am new to rails, but I understand the basics but I am stumped. I have searched this issue online and in the GitHub issues to no avail.
[code]
I can access the url, and download the file. I have tried bundle install 4 times, and everything else from the Gemfile installs.

I am using Mac OSX Big Sur.

Here is the output of gem env.
[code]

[2022-01-07 21:19] jose-miguel-cruz opened #496 "False positives (REGEX) in SourcemappingUrlProcessor when having ".map" in path"
We have a JS asset that contains some generic polyfills from [@babel/polyfill](https://github.com/babel/babel)

From this [Sprockets v3.4.0 update](https://github.com/rails/sprockets-rails/pull/479/files), our application stopped working

We found the issue occurs when we use `source-maps` for specific functions that have `.map` in the path like `"../node_modules/core-js/modules/es6.array.map.js"`

[2022-01-20 16:55] guillaumebesse opened #497 ""Sprockets::NotImplementedError: Custom asset_path helper is not implemented" on source_file=stimulus.min"
I spent the last two days trying to fix this problem appearing on a `rake assets:precompile` task without success.

I am migrating from
- rails 6.0.1 -> 7.0.1
- webpack -> esbuild

I use tailswindcss / stimulus with ruby 3.0.3

Everything works well locally using `bin/dev`

It looks like sprocket is trying to insert some kind of sourceMappingURL in application.js.

Here is the full trace. Any help

[2022-02-08 16:18] norens commented on #389
Just delete action_cable in /app/assets/javascripts/ and that should fix the problem.

[2022-02-15 15:28] danielricecodes commented on #458
Worked.  This should be added to the [original post](https://github.com/rails/sprockets-rails/issues/458#issue-577552623) as the solution since so many people have 👍'd it.

The recommendation to downgrade `sprockets-rails` should be avoided.  A local problem that can be easily solved by flushing your `Rails.root/tmp` directory should not require making a commit and then unduly influencing every ot

[2022-02-22 20:59] Mycobee opened #500 "Precompile asset esbuild failure does not trigger CI build exit"
When `rails assets:precompile` fails in a github actions CI pipeline, the build continues without raising a build error. This caused some broken code to sneak in to our prod instance this morning.

Does anyone have any ideas how to trigger an error where it will stop the CI build? The output below is printed out, but the CI build continues

Example:

[code]

[2022-03-08 09:38] Flip437 commented on #458
rake tmp:clear didn't work for me
downgrading to gem 'sprockets-rails', '2.3.3' with bundle install worked for me

[2022-03-08 18:21] paul-mesnilgrente opened #503 "Bug on url() in stylesheets"
I created a simple repository https://github.com/paul-mesnilgrente/rails-7-url to reproduce my problem. The only interesting part is in application.sass.scss: `background-image: url('images/background.jpg')`. The file is `app/assets/images/background.jpg`.

I tried a few variants of this path: `/images/background.jpg`, `../images/background.jpg`, `./images/background.jpg` but nothing works. The tr

[2022-03-09 12:11] paul-mesnilgrente commented on #503
You can also note that if I include `@import 'datatables.net-zf/css/dataTables.foundation.min'`, the images path are not translated either. I can include a commit with that if needed.

[2022-03-09 21:46] paul-mesnilgrente commented on #503
If you look at the CSS debugger of the browser you'll see that the background-image doesn't have any hash digest as it should.

[2022-03-10 12:02] paul-mesnilgrente commented on #503
I found the problem which was actually pretty dumb. In manifest.js we have this line by default `//= link_tree ../images`.

And the thing is, rails doesn't look for the assets relatively to your stylesheet or even relatively to `app/assets`. It's only relative to those `//= link_tree ...` paths.

So the right path, which I hadn't tried before was `url("background.jpg")`.

**Side note :** If you us

[2022-03-10 12:46] paul-mesnilgrente commented on #503
Now an issue remains for libraries. I have datatables.net-zf in my node_modules. I tried doing this in manifest.js: `//= link_tree ../../../node_modules/datatables.net-zf/css` because there's `url(../images/sort_asc.png)` in the css file I include. But this doesn't work because the image isn't found by sprockets.

[2022-03-19 22:43] magedeungaro commented on #458
This helped me, thanks

[2022-03-22 16:58] david-pink opened #505 "`RAILS_RELATIVE_URL_ROOT=..` passed into `rake assets:precompile` results in path `../../assets/foo` rather than `../assets/foo`"
I work on a project which runs `rake assets:precompile` during a docker build stage, rather than at runtime. Since we don't know the URL root at buildtime, we pass in `RAILS_RELATIVE_URL_ROOT=..` and this successfully builds our assets and makes them available regardless of the URL root passed into the container.

However, when we upgraded sprockets-rails from 3.2.2 to 3.3.0, this no longer works

[2022-03-31 06:31] ioquatix commented on #423
We just ran into the same issue.

[2022-04-07 15:12] guillaumebriday opened #506 "Option to enable subresource by default"
Is there any option to enable Subresource `integrity: true` by default?

If not, would you accept PR to add that?

[2022-05-13 22:04] #376 closed

[2022-07-01 10:29] Sega100500 opened #507 "Assets (Sprockets 4.1.1 and Sprockets-rails 3.4.2) not work correctly with images in engine with third party libraries"
### System configuration

- Sprockets version is **4.1.1**
- Sprockets-rails is **3.4.2**
- Ruby version **3.1.2**
- Ruby on Rails **7.0.3**
- jQuery-UI **1.13.1**

### Problem

I use my own **engine** "Admin", in which I connect the jQuery-UI library.
With sprockets 3.7.2 and sprockets-rails 3.2.2 all work fine! ... but later versions not working correctly

Directory of engine is 'admin'.
Config

[2022-07-02 13:02] Sega100500 commented on #507
[More detailed comments for this issue](https://github.com/rails/sprockets/issues/747#issuecomment-1172858797)

[2022-07-02 13:52] Sega100500 commented on #507
Problem was found in [changes sprockets-rails since 3.3.0](https://github.com/rails/sprockets/issues/747#issuecomment-1172901220)

I found in [sprockets-rails 3.2.2 → 3.3.0](https://my.diffend.io/gems/sprockets-rails/3.2.2/3.3.0) changes that make it. It is from version `sprockets 3.3.0` that such incorrect processing is observed.

in file [data/lib/sprockets/rails/asset_url_processor.rb](https://

[2022-07-02 16:30] Sega100500 commented on #507
In `sprockets-rails 3.4.2`, probably noticed that there can be a relative path, but for some reason decided that it must begin with './':
[code]
**BUT!** relative path may be without any leading slashes and dots, like this one `background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;` - this start with subdirectory name.

Even if we assume that a path without init

[2022-07-02 17:03] Sega100500 commented on #507
For experiment I patch file `data/lib/sprockets/rails/asset_url_processor.rb`
[code]
an **all works**!

Of course, these are not full-fledged corrections and the method `context.asset_path(path)` must be corrected. But I clearly and specifically showed exactly what the problem is.

Please fix this bug in the library.

Thanks

[2022-07-04 17:01] rafaelfranca commented on #507
Please feel free to submit a pull request. Thank you!

[2022-07-05 01:09] Sega100500 commented on #507
@rafaelfranca

Read [Contributing to Sprockets Rails](https://github.com/rails/sprockets-rails/blob/1f6348737fbdd892f25a6341525ece0798f0066f/CONTRIBUTING.md) and I try:
[code]

Answer:
[code]

[2022-07-06 11:45] Sega100500 commented on #507
@yahonda

Both `git clone https://github.com/contributor/sprockets-rails.git` and `git clone https://github.com/Sega100500/sprockets-rails.git` output these:
[code]

[2022-07-06 22:44] rafaelfranca commented on #507
Did you fork the project before cloning?

[2022-07-07 02:20] Sega100500 commented on #507
@rafaelfranca

No, I don't know much about Git workflows. Especially when it comes to making changes to other people's projects.  I just followed the instructions [Contributing to Sprockets Rails](https://github.com/rails/sprockets-rails/blob/1f6348737fbdd892f25a6341525ece0798f0066f/CONTRIBUTING.md) and I thought that at the same time I would learn how to do it, but I stumbled on the first step. A

[2022-07-15 07:39] Sega100500 commented on #507
@rafaelfranca

[Pull request](https://github.com/rails/sprockets-rails/pull/511)

But in one test is fail...

[2022-08-29 03:51] rstacruz commented on #458
I ran into this issue because I had a `//= require` in my application.js that didn't exist.

[code]

Removing it fixed the error for me.

[2022-09-03 17:37] andosteinmetz commented on #458
I've had this issue come up occasionally and worked around it by adding an empty newline to `/app/assets/config/manifest.js` loading a page, and then reverting the change.

[2022-09-19 17:48] slondr opened #512 "resolve_assets_in_css_urls option ignored in config/initializers (in a Rails 6.0 project)"
I'm in the process of updating a Rails 5.2 application to Rails 6.0, which necessitates updating from sprockets-rails 3.2.2 to sprockets-rails 3.4.2; sadly this upgrade breaks my application, as it overwrites the urls in @import statements in CS to absolute urls which do not mirror the relative urls they are overwriting. A config option was introduced to undo this behavior, but, I am assuming due